* {
    font-family: helvetica;
    padding: 0px;
    margin: 0px;
}

.header-wrapper,
.section-wrapper,
.footer-wrapper {
    width: 1140px;
    margin: auto;
}

.navigation-wrapper {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 100;
    background-color: #6ebdef;
    box-sizing: border-box;
    display: none;
}





/*________________ Navigation menu ________________*/

.navigation__list {
    position: relative;
    top: 20px;
    margin: auto;
    list-style-type: none;
    width: 380px;
}

.navigation__list-link {
    text-decoration: none;
    color: white;
    padding-bottom: 25px;
    opacity: 0.6;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    border-bottom: 5px solid #6ebdef;
}

.navigation__list-item {
    display: inline-block;
    position: relative;
    font-size: 18px;
}

.navigation__list-link:hover {
    border-bottom: 5px solid white;
    opacity: 1;
}

.navigation__list-item:nth-child(1),
.navigation__list-item:nth-child(2) {
    margin-right: 60px;
}





/*________________ HEADER STYLE ________________*/

.header{
    padding-top: 70px;
    box-sizing: border-box;
    background-position: 0px -100px;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: fixed;
    height: 640px;
}

.header__caption {
    position: relative;
    top: 150px;
    color: #11161d;
    font-size: 36px;
    line-height: 1.5;
    font-family: Proxima-Nova-Bold;
    letter-spacing: 1.5px;
}

.header__caption-item {
    font-family: Proxima-Nova-Black;
}

.header__text {
    position: relative;
    top: 180px;
    color: #11161d;
    font-size: 14px;
    width: 250px;
    line-height: 1.5;
    font-family: Proxima-Nova-Regular;
}

.header__link {
    border-radius: 4px;
    background-color: rgb(251, 219, 68);
    position: relative;
    top: 220px;
    width: 270px;
    height: 60px;
    display: block;
    text-align: center;
    padding-top: 14px;
    box-sizing: border-box;
    color: #635515;
    text-decoration: none;
    font-size: 26px;
}


.main {
    top: 640px;
    position: relative;
    background: white;
}


/*________________ SECTION STYLE ________________*/

.section__caption {
    font-family: Proxima-Nova-Bold;
    letter-spacing: 1.5px;
}

.section__subtitle {
    font-family: Proxima-Nova-Thin;
    letter-spacing: 1.5px;
}

.section--one {
    height: 480px;
}

.section__caption--one {
    padding-top: 40px;
    color: #11161d;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
}

.section--one__article-icon {
    width: 90px;
}

.section--one__article {
    float: left;
    width: 240px;
    margin-right: 50px;
    text-align: center;
}

.section--one__article:nth-child(6) {
    margin-right: 0px;
}

.section--one__article-text {
    width: 85%;
    margin: auto;
    line-height: 1.4;
    font-size: 14px;
    color: #a1a1a1;
}

.article__caption {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Proxima-Nova-Regular;
    letter-spacing: 1px;
}

.section__subtitle--one {
    text-align: center;
    font-size: 16px;
    color: #a1a1a1;
    margin-bottom: 80px;
}

.section--two {
    height: 480px;
    background: #49a15a;
}

.section__caption--two {
    padding-top: 40px;
    color: white;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
}

.section__subtitle--two {
    text-align: center;
    font-size: 16px;
    color: white;
    opacity: 0.5;
    margin-bottom: 80px;
}

.form__section--two {
    width: 270px;
    margin: auto;
}

.input__section--two {
    width: 270px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    padding: 5px;
    height: 50px;
    outline: none;
}

.input__section--two:nth-child(3) {
    background: #fbdb44;
    color: #635515;
    font-size: 24px;
    cursor: pointer;
}


.section--three {
    height: 500px;
}

.section__subtitle--three {
    text-align: center;
    font-size: 16px;
    color: #a1a1a1;
    margin-bottom: 80px;
}

.section__caption--three {
    padding-top: 40px;
    color: #11161d;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
}

.section--three__article {
    width: 300px;
    background: #76b4f4;
    border-radius: 4px;
    padding-bottom: 25px;
    float: left;
    margin-right: 30px;
}

.section--three__article:nth-child(5) {
    margin-right: 0px;
}

.section--three__article__caption {
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 20px;
}

.section--three__article__subtitle {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.section-list--item {
    text-align: center;
}

.section-list {
    list-style-type: none;
}

.section-three__link {
    border-radius: 4px;
    background-color: rgb(251, 219, 68);
    width: 250px;
    height: 50px;
    display: block;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
    color: #635515;
    text-decoration: none;
    font-size: 22px;
    margin: auto;
    margin-top: 20px;
}

.section-wrapper--three {
    width: 965px;
}

.section--for {
    height: 500px;
    background: #265979;
}


/*________________ FOOTER STYLE ________________*/

.footer {
    position: relative;
    top: 640px;
    height: 80px;
    background: #001c2d;
}

.footer__list {
    position: relative;
    top: 20px;
    float: right;
}

.footer__icon {
    width: 40px;
}

.footer__list-item {
    display: inline-block;
    margin-right: 10px;
}

.footer__list-item:nth-last {
    margin-left: 0px;
}

.footer__list-link {
    opacity: 0.5;
}

.footer__list-link:hover {
    opacity: 1;
}

.footer__text {
    font-style: 12px;
    float: left;
    position: relative;
    top: 30px;
    color: #4b5d82;
}