@media only screen and (max-width: 1125px) and (min-width: 993px) {
    body,
    .footer,
    .main,
    .header,
    .section,
    .header-wrapper,
    .footer-wrapper,
    .navigation,
    .section-wrapper,
    .slide__wrapper {
        width: 100%;
    }
    .section-wrapper,
    .footer-wrapper,
    .navigation-wrapper,
    .slide {
        padding-left: 2%;
        padding-right: 2%;
        box-sizing: border-box;
    }
    .navigation__menu {
        top: 17px;
        display: block;
        right: 1.25%;
    }
    .navigation__list {
        display: none;
    }
    .navigation__icon-list {
        right: 8%;
    }
    .section--one__article {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        flex-direction: column;
        max-width: 170px;
        text-align: center;
        align-items: space-around
    }
}