@media only screen and (max-width: 480px) and (min-width: 321px) {
    body,
    .footer,
    .main,
    .header,
    .section,
    .header-wrapper,
    .footer-wrapper,
    .navigation,
    .section-wrapper,
    .slide__wrapper,
    .section-wrapper-autoplau {
        width: 100%;
    }
    .section-wrapper,
    .footer-wrapper,
    .navigation-wrapper,
    .slide {
        padding-left: 2%;
        padding-right: 2%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .navigation__menu {
        top: 17px;
        display: block;
        right: 0.5%;
    }
    .navigation__list, .section--two{
        display: none;
    }
    .navigation__icon-list {
        right: 8%;
    }
    .section--book-item {
        width: 28.5%;
    }
    .section--book-item:nth-child(6) {
        margin-left: 6.3%;
    }
    .section--book-item:nth-child(4),
    .section--book-item:nth-child(7),
    .section--book-item:nth-child(10) {
        margin-left: 0px;
    }
    .footer-box {
        width: 30%;
    }
    .footer-box:nth-child(1) {
        width: 38%;
    }
    .footer-box__text {
        font-size: 12px;
    }
    .section--one__article--caption{
        margin-left: 0px;
    }
    .section--one__article {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 170px;
        min-width: 170px;
        margin-left: 0px;
        text-align: center;
        -webkit-box-align: space-around;
        -webkit-align-items: space-around;
        -ms-flex-align: space-around;
        align-items: space-around;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}