@media only screen and (max-width: 992px) and (min-width: 769px) {
    body,
    .footer,
    .main,
    .header,
    .section,
    .header-wrapper,
    .footer-wrapper,
    .navigation,
    .section-wrapper,
    .slide__wrapper {
        width: 100%;
    }
    .section-wrapper,
    .footer-wrapper,
    .navigation-wrapper,
    .slide {
        padding-left: 2%;
        padding-right: 2%;
        box-sizing: border-box;
    }
    .navigation__menu {
        top: 17px;
        display: block;
        right: 1.25%;
    }
    .navigation__list/*             Исправить               */
    {
        display: none;
    }
    .navigation__icon-list {
        right: 8%;
    }
    .section--book-item {
        width: 19.5%;
    }
    .section--book-item:nth-child(6) {
        margin-left: 6.3%;
    }
    .section--book-item:nth-child(5),
    .section--book-item:nth-child(9) {
        margin-left: 0px;
    }
    .section--one__article {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        flex-direction: column;
        max-width: 170px;
        min-width: 170px;
        text-align: center;
        align-items: space-around;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px) and (min-width: 769px) {
    .footer-box {
        width: 30%;
    }
    .footer-box:nth-child(1) {
        width: 38%;
    }
    .footer-box__text {
        font-size: 12px;
    }
}