@media only screen and (max-width: 992px) and (min-width: 769px){
	body, .footer, .main, .header, .section{
		width: 100%
	}

	.header-wrapper, .section-wrapper, .footer-wrapper{
		width: 90%;
		margin: auto;
	}

	.section,.header{
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
	}
}


