* {
    font-family: helvetica;

    margin: 0;
    padding: 0;
}

.header-wrapper,
.footer-wrapper,
.navigation {
    position: relative;

    width: 1125px;
    margin: auto;
}

.navigation-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 90px;

    background-color: white;
}

.main,
.footer {
    position: relative;
}

.main {
    min-height: 90%;
}

.clon {
    position: fixed;
    z-index: 100;
    top: -100px;

    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}

.active {
    top: 0;
}

.sale-icon {
    position: absolute;
    top: 40%;
    left: 62%;
}




/*________________ Navigation menu ________________*/

.navigation__list {
    position: relative;
    top: 35px;
    left: 27%;

    width: 53%;

    list-style-type: none;
}

.navigation__list-link {
    font-family: Roboto-Regular;

    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    text-decoration: none;

    opacity: .6;
    color: #252525;
}

.navigation__list-item {
    font-size: 14px;

    position: relative;

    display: inline-block;
}

.navigation__list-link:hover {
    opacity: 1;
}

.navigation__list-item {
    margin-left: 4%;
}

.navigation__list-item:nth-child(1) {
    margin-left: 0;
}

.navigation__icon-list {
    position: absolute;
    top: 35px;
    right: 0;

    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;

    opacity: .5;
}

.navigation__icon-list:hover {
    opacity: 1;
}

.navigation__icon-list-item {
    display: inline-block;

    margin-left: 15px;

    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;

    opacity: .25;
}

.navigation__icon-list-item:hover {
    opacity: 1;
}

.navigation__icon-list-item:nth-child(1) {
    margin-left: 0;
}

.navigation__icon-list-img {
    width: 22px;
}










/*________________ HEADER STYLE ________________*/

.navigation__menu {
    display: none;
}

.header {
    position: relative;

    height: auto;
}

.header__logo {
    position: absolute;
    top: 20px;

    display: inline-block;

    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.logo__link:hover .header__logo {
    opacity: 0;
}

.logo__link {
    position: relative;
}

.logo__link:before {
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 0;

    width: 229px;
    height: 48px;

    content: '';
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;

    opacity: 0;
    background: url(../img/logo-1.png);
}

.logo__link:hover:before {
    opacity: 1;
}

.header__caption {
    font-family: Roboto-Bold;
    font-size: 72px;

    margin-bottom: 30px;

    letter-spacing: .5px;

    color: white;
}


.header__subtitle {
    font-family: Roboto-Light;
    font-size: 36px;
    font-weight: 100;

    margin-bottom: 10px;

    color: white;
}

.header__button {
    font-family: Roboto-light;
    font-size: 18px;

    display: inline-block;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    text-align: center;
    text-decoration: none;

    color: white;
    border: 1px solid white;
}

.header__button:hover {
    color: #47bbf8;
    background-color: white;
}

.header__button-two {
    width: 200px;
    margin-top: 20px;

    border: 1px solid #ff7900;
    background-color: #ff7900;
}

.header__button-two:hover {
    color: #ff7900;
    background: none;
}

.header__subtitle-two {
    font-size: 24px;
}

.header__caption-two {
    margin-bottom: 10px;
}

.header__button-three {
    position: relative;

    float: right;

    width: 200px;
    margin-top: 20px;

    border: 1px solid #fe0032;
    background-color: #fe0032;
}

.header__button-three:hover {
    color: #fe0032;
    background: none;
}

.header__subtitle-three {
    font-size: 24px;

    text-align: right;
}

.header__caption-three {
    margin-bottom: 20px;

    text-align: right;
}


















/*________________ SECTION STYLE ________________*/

.section {
    width: 100%;
    margin: auto;
}

.section-wrapper {
    width: 1125px;
    margin: auto;
}

.section--one {
    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
}

.section-wrapper--one {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.section--one__article {
    margin-left: 3%;
    padding-top: 40px;
}

.section--one__article:nth-child(1) {
    margin-left: 0;
}

.section--one__article--img {
    float: left;

    height: 45px;
}

.section--one__article--caption {
    font-family: Roboto-Thin;
    font-size: 18px;

    float: left;

    margin-top: 12px;
    margin-left: 10px;
}

.section--two {
    height: auto;
}

.section--two {
    padding-top: 40px;
}

.section--book {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-caption-book-autoplau {
    margin-bottom: 40px;
}

.item-book__caption {
    font-family: Roboto-Bold;
    font-size: 18px;

    text-decoration: none;
    letter-spacing: .5px;

    color: #252525;
}

.item-book__box-caption {
    padding-top: 15px;
    padding-bottom: 15px;
}

.section--book-box {
    width: 90%;
    margin: auto;
}

.section-three-item-book__link {
    outline: none;
}

.section-wrapper-autoplau {
    width: 90%;
    margin: auto;
}

.section--book-item {
    position: relative;

    display: inline-block;

    width: 14.5%;
    margin-top: 40px;
    margin-left: 6.3%;
}

.section--book-item-carousel {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 27px;
    padding-left: 25px;

    outline: none;
}

.section--book-item:nth-child(1),
.section--book-item:nth-child(6) {
    margin-left: 0;
}

.book-item__autor-link {
    font-family: Roboto-Thin;
    font-size: 18px;

    text-decoration: none;
    letter-spacing: .5px;

    color: #979695;
}

.book-item__price {
    font-family: Roboto-Regular;
    font-size: 18px;

    margin-top: 15px;

    color: #252525;
}

.book-item__price-sale-0 {
    position: relative;

    display: inline-block;

    margin-right: 10px;

    color: #979695;
}

.book-item__price-sale-0:before {
    position: absolute;
    top: 10px;

    width: 100%;
    height: 1px;

    content: ' ';

    background: #979695;
}

.book-item__price-sale-50 {
    color: #f00;
}

.book-item__price-sale-25 {
    color: #48b4ed;
}

.book-item__price-sale {
    font-family: Roboto-Black;
    font-size: 24px;
}

.item-book__button {
    font-family: Roboto-Thin;
    font-size: 16px;

    display: inline-block;

    margin-top: 15px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;

    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    text-decoration: none;

    color: #47bbf8;
    border: 1px solid #47bbf8;
    background: white;
}

.item-book__button:hover {
    color: white;
    background: #47bbf8;
}

.section-book-item-book {
    width: 100%;
}

.section-caption-book {
    font-family: Roboto-Bold;
    font-size: 24px;

    text-align: left;
    letter-spacing: .5px;
}

.section--promo {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: #ff6fa8;
    background-image: url(../img/promo-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section--promo__caption {
    font-family: Roboto-Light;
    font-size: 36px;

    text-align: center;

    color: white;
}

.section--promo__subtitle {
    font-family: Roboto-Light;
    font-size: 16px;
    line-height: 1.4;

    margin-top: 30px;

    text-align: center;
    letter-spacing: .25px;

    color: white;
}

.section--promo__box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
    margin: auto;
    margin-top: 30px;
}

.section--promo__box-item {
    display: inline-block;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 130px;
}

.section--promo__box-item:nth-child(2) {
    margin-left: 35px;
}

.section--promo__box-img {
    width: 100%;
    margin-bottom: 20px;
}

.section--promo__box-item-link {
    font-family: Roboto-Light;
    font-size: 14px;

    display: inline-block;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;

    text-align: center;
    text-decoration: none;

    color: white;
    border: 1px solid white;
}


















/*________________ FOOTER STYLE ________________*/

.footer {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 60px;
    padding-top: 10px;

    border-top: solid 1px #f2f1f1;
}

.footer-box__image {
    float: left;

    height: 30px;
    margin-right: 10px;
}

.footer-box {
    display: inline-block;

    width: 33%;
}

.footer-box__text {
    font-family: Roboto-Regular;
    font-size: 14px;
}

.footer-box__text-span {
    font-family: Roboto-Light;
    font-size: 12px;
}

.footer-box__icon {
    width: 25px;

    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.footer-box__icon:hover {
    opacity: 0;
}

.footer-box__icon-hide {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-box__list {
    float: right;

    margin-top: 7px;
}

.footer-box__list-item {
    position: relative;

    display: inline-block;

    margin-left: 10px;
}

.footer-box__list-item:nth-child(1) {
    margin-left: 0;
}














/*________________ CARD PRODUCT STYLE ________________*/

.crumbs {
    font-family: Roboto-Thin;
    font-size: 14px;

    color: #979695;
}

.crubs__here {
    font-family: Roboto-Regular;

    color: #252525;
}

.crumbs__link {
    font-family: Roboto-Thin;

    text-decoration: none;

    color: #979695;
}

.section__card_product-book {
    width: 25%;
}

.section__card_product-box {
    margin-top: 20px;
}

.section__card_product-box-data {
    display: inline-block;

    width: 73%;

    vertical-align: top;
}

.section__card_product-box-data__item {
    display: inline-block;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 45%;
    margin-left: 4%;

    vertical-align: top;
}

.data__caption {
    font-family: Roboto-Bold;
    font-size: 24px;
    line-height: 1.4;

    margin-bottom: 20px;

    letter-spacing: .5px;
}

.data__price {
    font-family: Roboto-Bold;
    font-size: 24px;

    position: relative;

    color: #ff0009;
}

.data__price:after {
    font-family: Roboto-Light;
    font-size: 14px;

    position: absolute;
    top: 8px;
    left: 90px;

    content: 'В наличии';

    color: #252525;
}

.data__price:before {
    position: absolute;
    top: 13px;
    left: 80px;

    width: 6px;
    height: 6px;

    content: '';

    border-radius: 6px;
    background: #52ac62;
}

.star__link {
    font-family: Roboto-Light;
    font-size: 14px;

    position: relative;
    top: -5px;

    display: inline-block;

    text-decoration: none;

    color: #979695;
}

.star__link:hover:before {
    opacity: 0;
}

.star__link:before {
    position: absolute;
    top: 15px;

    width: 100%;
    height: 1px;

    content: '';
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

    background: #979695;
}

.data__item-info {
    margin-top: 40px;
}

.item-info__text {
    position: relative;

    margin-bottom: 10px;

    border-bottom: 1px solid #e9e9e9;
}

.info__text-0,
.info__text-1 {
    font-family: Roboto-Light;

    position: relative;
    top: 2px;

    color: #979695;
    background: #fff;
}

.info__text-1 {
    float: right;
}

.item-info__caption {
    font-family: Roboto-Light;

    margin-top: 20px;

    text-align: center;

    color: #979695;
}

.data__item-link {
    font-family: Roboto-Bold;

    display: inline-block;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding: 10px;

    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;

    color: white;
    background-color: #48b4ed;
    -webkit-box-shadow: 0 4px 0 0 rgba(76, 153, 195, 1);
    box-shadow: 0 4px 0 0 rgba(76, 153, 195, 1);
}

.data__item-link:hover {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);

    -webkit-box-shadow: none;
    box-shadow: none;
}

.data__item-icon-box {
    margin-top: 35px;
}

.item-icon-box-item {
    display: inline-block;

    text-align: center;
}

.item-icon-box-item:nth-child(2) {
    margin-left: 30px;
}

.box-item__text-pink {
    color: #fc00a0;
}

.box-item__text-eloy {
    color: #fba83d;
}

.box-item__link {
    position: relative;

    text-decoration: none;

    color: #fba83d;
}

.box-item__link:hover:before {
    opacity: 0;
}

.box-item__link:before {
    position: absolute;
    top: 15px;

    width: 100%;
    height: 1px;

    content: '';
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

    background: #fba83d;
}

.box-data__item__text {
    font-family: Roboto-Light;
    line-height: 1.9;

    color: #979695;
}

.box-data__item__subtitle {
    font-family: Roboto-Regular;

    margin-top: 35px;
    margin-bottom: 35px;

    color: #252525;
}

.section-wrapper-comments {
    padding-top: 40px;
}

.comments-box {
    margin-bottom: 30px;
}

.comments-box__item {
    display: inline-block;

    width: 10%;

    vertical-align: top;
}

.comments-box__item:nth-child(2) {
    width: 70%;
}

.stars-comments {
    width: auto!important;
}

.comments-name {
    font-family: Roboto-Regular;
    font-size: 18px;

    margin-top: 10px;
}

.comments-date {
    font-family: Roboto-Regular;
    font-size: 12px;

    margin-top: 5px;

    color: #979695;
}

.comments-box__text {
    font-family: Roboto-Light;
    line-height: 1.4;
}












/*________________ STARS STYLE ________________*/

a[href*='intent'] {
    display: inline-block;
}

.rating {
    font-size: 18px;

    display: inline-block;
    overflow: hidden;

    width: 100px;
}

.rating input {
    position: absolute;

    float: right;

    opacity: 0;
}

.rating a,
.rating label {
    float: right;

    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
    text-decoration: none;

    color: #aaa;
}

.rating label:hover~label,
.rating input:focus~label,
.rating label:hover,
.rating a:hover,
.rating a:hover~a,
.rating a:focus,
.rating a:focus~a {
    cursor: pointer;

    color: orange;
}

.rating2 {
    direction: rtl;
}

.rating2 a {
    float: none;
}












/*________________ BASKET STYLE ________________*/

.wrapper__basket-item {
    display: inline-block;

    width: 60%;

    vertical-align: top;
}

.wrapper__basket-item:nth-child(2) {
    width: 34%;
    margin-left: 5%;
}

.flexbox-wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-caption-basket {
    margin-bottom: 30px;
}

.basket__article {
    position: relative;

    margin-bottom: 20px;

    vertical-align: middle;
}

.basket__article--book {
    width: 70px;
    margin-right: 20px;
}

.basket__article--box {
    display: inline-block;

    width: 170px;
}

.article--box__price {
    font-family: Roboto-Regular;
    font-size: 24px;

    margin-left: 40%;

    text-align: right;
}

.basket__article--book-final,
.basket__article--box-final {
    height: 50px;

    cursor: default;

    opacity: 0;
}

.basket__article--autor-book-final {
    cursor: default;
}

.article--box__price-final {
    position: relative;
    top: -20px;

    display: inline-block;

    color: #4c99c3;
}

.article--box__price-final:before {
    font-family: Roboto-Light;
    font-size: 14px;

    position: absolute;
    top: 7px;
    left: -50px;

    content: 'Итого';

    color: #252525;
}

.article--box__price-final:after {
    font-family: Roboto-Light;

    position: absolute;
    top: -10px;
    left: -150%;

    width: 250%;
    height: 1px;

    content: '';

    background-color: #252525;
}

.basket__article--name-book {
    font-family: Roboto-Regular;
    font-size: 18px;
}

.basket__article--autor-book {
    font-family: Roboto-Light;
    font-size: 14px;

    margin-top: 5px;

    text-decoration: none;

    color: #979695;
}

.close {
    position: absolute;
    top: 33px;
    right: 22px;

    width: 22px;
    height: 22px;

    opacity: .3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;

    width: 1px;
    height: 23px;

    content: '';

    background-color: #333;
}

.close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.basket__form {
    margin-bottom: 30px;
}

.basket__input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 11px;

    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;

    border: 1px solid #c9c8c8;
}

.basket__input::-webkit-input-placeholder {
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;

    opacity: 1;
    color: #979695;
}

.basket__input::-moz-placeholder {
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;

    opacity: 1;
    color: #979695;
}

.basket__input:-moz-placeholder {
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;

    opacity: 1;
    color: #979695;
}

.basket__input:-ms-input-placeholder {
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;

    opacity: 1;
    color: #979695;
}

.basket__input:focus::-webkit-input-placeholder {
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;

    opacity: 0;
}

.basket__input:focus::-moz-placeholder {
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;

    opacity: 0;
}

.basket__input:focus:-moz-placeholder {
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;

    opacity: 0;
}

.basket__input:focus:-ms-input-placeholder {
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;

    opacity: 0;
}



.form__caption-basket {
    margin-top: 30px;
}

input[type='radio'] {
    position: absolute;
    z-index: -1;
    bottom: 100%;

    display: none;
}

label {
    font-family: Roboto-Light;
    font-size: 14px;

    position: relative;

    display: inline-block;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 47%;
    margin: 0;
    padding: 8px;

    cursor: pointer;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    text-align: center;

    color: #979695;
    border: 1px solid #c9c8c8;

    backgorund-color: #fff;
}

label:hover,
.basket__input:hover {
    border-color: #47bbf8;
}

label:active {
    background-color: #47bbf8;
}

label~label {
    margin-left: 4%;
}

#play:checked~[for='play'],
#pause:checked~[for='pause'] {
    color: #fff;
    border-color: transparent;
    background-color: #47bbf8;
}

#play:focus~[for='play'],
#pause:focus~[for='pause'] {
    z-index: 2;

    outline: 1px solid #47bbf8;
    outline-offset: 0;
}

.basket__input-button {
    font-family: Roboto-Bold;
    font-size: 16px;

    position: relative;

    width: 100%;
    padding: 10px;

    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    letter-spacing: .5px;

    color: white;
    border: none;
    outline: none;
    background-color: #47bbf8;
    -webkit-box-shadow: 0 4px 0 0 rgba(76, 153, 195, 1);
    box-shadow: 0 4px 0 0 rgba(76, 153, 195, 1);
}

.basket__input-button:hover {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);

    -webkit-box-shadow: none;
    box-shadow: none;
}








/*________________ CONTACTS STYLE ________________*/

.section__contacts-subtitle {
    font-family: Roboto-Bold;
    font-size: 18px;

    margin-top: 20px;

    color: #252525;
}

.section__contacts-text {
    font-family: Roboto-Regular;
    font-size: 12;

    margin-top: 5px;

    color: #252525;
}

.section__contacts-map {
    width: 100%;
    margin-top: 20px;

    border: 1px #919191 solid;
}

.contacts__form {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contacts__input {
    margin-left: 15px;
    padding: 11px;
}

.contacts__input:nth-child(2) {
    margin-left: 0;
}

.contacts__input-button {
    top: -3px;
}

.contacts__input,
.contacts__input-button {
    display: inline-block;

    width: 30%;
}

.basket__input-caption {
    font-family: Roboto-Regular;

    margin-bottom: 15px;

    text-align: center;
}