* {
    font-family: helvetica;
    padding: 0px;
    margin: 0px;
}

.header-wrapper,
.section-wrapper,
.footer-wrapper,
.navigation {
    width: 1140px;
    margin: auto;
}

.navigation-wrapper {
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
    background-color: white;
}
.main, .footer{
	position: relative;
	top: 90px;
}


/*________________ Navigation menu ________________*/

.navigation__list {
    position: relative;
    top: 35px;
    margin: auto;
    list-style-type: none;
    width: 53%;
}

.navigation__list-link {
    text-decoration: none;
    color: #252525;
    opacity: 0.6;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    font-family: Roboto-Regular;
}

.navigation__list-item {
    display: inline-block;
    position: relative;
    font-size: 14px;
}

.navigation__list-link:hover {
    opacity: 1;
}

.navigation__list-item {
    margin-left: 4%;
}

.navigation__list-item:nth-child(1) {
    margin-left: 0%;
}


/*________________ HEADER STYLE ________________*/

.header {
    position: relative;
    top: 90px;
    box-sizing: border-box;
    height: 500px;
    background-image: url(../img/header-slide-one.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
}

.header__logo {
    position: absolute;
    top: 20px;
}

.header__caption {
    font-size: 72px;
    color: white;
    margin-bottom: 30px;
    font-family: Roboto-Bold;
    letter-spacing: 0.5px;
}

.header__subtitle {
    font-size: 36px;
    font-weight: 100;
    color: white;
    margin-bottom: 10px;
    font-family: Roboto-Light;
}

.header__button {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: all 1s;
    font-size: 18px;
    font-family: Roboto-light;
}

.header__button:hover {
    color: rgba(0, 0, 0, 0);
    background-color: white;
}


/*________________ SECTION STYLE ________________*/
.section{
	margin: auto;
}
.section--one {
    height: auto;
    box-sizing: border-box;
    display: table;
    position: relative;
}
.section--one__article{
	float: left;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-left: 4.2%;
}
.section--one__article:nth-child(1){
	margin-left: 0px;
}
.section--one__article--img{
	height: 45px;
	float: left;
}
.section--one__article--caption{
	margin-top: 12px;
	margin-left: 10px;
	float: left;
	font-family: Roboto-Thin;
	font-size: 18px;
}

.section--two {
    height: auto;
}

.section--three {
    height: 500px;
    background: #c5e8ff;
}

.section--for {
    height: 500px;
    background: #265979;
}


/*________________ FOOTER STYLE ________________*/

.footer {
    height: 80px;
    background: #001c2d;
}

.footer__list {
    position: relative;
    top: 20px;
    float: right;
}

.footer__icon {
    width: 40px;
}

.footer__list-item {
    display: inline-block;
    margin-right: 10px;
}

.footer__list-item:nth-last {
    margin-left: 0px;
}

.footer__list-link {
    opacity: 0.5;
}

.footer__list-link:hover {
    opacity: 1;
}

.footer__text {
    font-style: 12px;
    float: left;
    position: relative;
    top: 30px;
    color: #4b5d82;
}