body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 0;
    top: 0;
    z-index: 2;
    background-color: #b1d2ec;
    transition: height 1s ease-in-out;
    z-index: 2;
}

.overlay.open {
    height: 100%;
}

.overlay.open .link-wrapper {
    opacity: 1;
}

.overlay .link-wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 300ms ease 300ms;
}

.overlay .link-wrapper a {
    position: relative;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: white;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-bottom: 2px;
    letter-spacing: 1px;
}

.overlay .link-wrapper a span {
    display: inline-block;
}

.overlay .link-wrapper a span:after {
    content: '';
    display: block;
    margin: auto;
    height: 5px;
    width: 0px;
    background: transparent;
    transition: width 300ms ease, background-color 300ms ease;
}

.overlay .link-wrapper a:hover {
    color: white;
}

.overlay .link-wrapper a:hover span:after {
    width: 100%;
    background-color: white;
}

.navigation {
    width: 100%;
    height: 40px;
    z-index: 400;
    position: absolute;
}

.burger_deluxe {
    position: fixed;
    top: 25px;
    right: 15px;
    cursor: pointer;
    width: 34px;
    height: 40px;
    z-index: 203;
    display: none;
    outline: none;
}

.burger_deluxe .burger_global {
    position: absolute;
    border-top: 5px solid #b1d2ec;
    width: 100%;
    outline: none;
}
.burger_global_buttom{
  border-top: 5px solid #b1d2ec!important;
}

.burger_deluxe .burger_global.top_bun {
    top: 0;
    transition: transform 500ms ease, border 500ms ease;
    transform-origin: left center;
}

.burger_deluxe .burger_global.patty {
    top: 12px;
    transition: opacity 500ms ease;
}

.burger_deluxe .burger_global.bottom_bun {
    top: 24px;
    transition: transform 500ms ease, border 500ms ease;
    transform-origin: left center;
}

.burger_deluxe.open span {
    border-color: white;
}

.burger_deluxe.open .top_bun {
    transform: rotate(45deg);
}

.burger_deluxe.open .patty {
    opacity: 0;
}

.burger_deluxe.open .bottom_bun {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
    .burger_deluxe {
        display: block;
        right: 4%;
    }
    header .number {
        right: 6%;
        position: relative;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    .burger_deluxe {
        display: block;
        right: 5%;
    }
    header .number {
        right: 8%;
        position: relative;
    }
}

@media only screen and (max-width: 620px) and (min-width: 481px) {
    header .adress--text {
        display: none;
    }
}

@media only screen and (max-width: 479px) and (min-width: 420px) {
    .burger_deluxe {
        display: block;
        right: 10%;
    }
    header .number {
        top: -2px;
        right: 14%;
        position: relative;
    }
}

@media only screen and (max-width: 419px) and (min-width: 321px) {
    .burger_deluxe {
        display: block;
        right: 10%;
    }
    header .number {
        top: -5px;
        right: 16%;
        position: relative;
    }
}
@media only screen and (max-width: 320px) {
    .burger_deluxe {
        display: block;
        right: 8%;
    }
    header .number {
        top: -5px;
        right: 14%;
        position: relative;
    }
}