/* Put your CSS code in the left column, instead of example, to put or remove unnecessary prefixes. */


/*сброс стилей */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertionlio-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1.2
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.clear {
    clear: both;
    height: 1px;
}

a {
    outline: none;
}

a:hover {
    text-decoration: none !important;
}


form {
    position: relative;
}

ul {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

html {
    min-width: 1200px;
}

.wrap {
    width: 1200px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

header.clone.active {
    top: 0;
    left: 0;
    right: 0;
}

.block {
    text-align: center;
    overflow: hidden;
    position: relative;
}

.line {
    background: url(../img/line.png);
    width: 165px;
    height: 29px;
    margin: 30px auto 0 auto;
}

h1 {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 15px;
}



.block h1+p {
    font-size: 22px;
    font-weight: 300;
}

header.clone {
    background: #fff;
    z-index: 20;
    position: fixed;
    top: -150px;
    left: 0;
    right: 0;
    transition: 0.3s all ease-in;
    transform: translateZ(1px);
    border-bottom: 1px solid #75716f;
    -o-box-shadow: 0px 0px 6px #222;
    box-shadow: 0px 0px 6px #222;
}

header.clone .wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

header.clone .adress,
header.clone li,
header.clone .number {
    color: #000;
}

header {
    height: 80px;
    position: relative;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}



header .adress {
    text-align: left;
    font-size: 14px;
    color: #1c2b3a;
    font-weight: 300;
}

header .adress b {
    font-size: 16px;
    font-weight: normal;
}





header nav li {
    margin-left: 25px;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    color: #1c2b3a;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:hover {
    text-decoration: none;
}



header .number {
    text-align: right;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

header .number span {
    font-size: 24px;
}


.politic {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    color: #fff;
    line-height: 1.5;
}

.btn {
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: 15px 0;
    background: #b1d2ec;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: auto;
    border-radius: 30px;
    position: relative;
    top: 0;
    margin-bottom: 5px;
    transition: 0.1s linear;
    box-shadow: 0px 3px 0px #95b3ca;
}

.btn:hover {
    top: 2px;
    box-shadow: 0px 1px 0px #95b3ca;
}





.title {
    height: 954px;
    /*background: url(../img/title.jpg) no-repeat center;*/
}

.title .wrap {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


.title .btn_title {
    width: 465px;
    background: rgba(3, 26, 46, .6);
    color: #fff;
    margin-top: 20px;
    box-shadow: none;
}

.title .btn_title:hover {
    top: 0;
    background: rgba(3, 26, 46, .9);
}

.title .btn_title:active {
    top: 1px;
}

.title .links {
    margin-top: 165px;
}

.campaign,
.websites {
    display: inline-block;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
    color: #1c2b3a;
    /*width: 335px;*/
}



.title .links div span {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-bottom: 4px solid;
}

.title .links div.websites {
    margin-left: 255px;
    color: #fff;
}

.title .links div:hover span {
    border-color: transparent;
}

.title .mouse {
    background: url(../img/mouse.png);
    width: 20px;
    height: 30px;
    margin: -100px auto 0;
    opacity: .6;
    cursor: pointer;
    transition: 0.1s linear;
}

.title .mouse:hover {
    opacity: 1;
}

.clients {
    height: 370px;
    background: #eceeeb;
    color: #1c2b3a;
}

.clients .logos {
    margin: 65px auto 0;
    background: url(../img/logos.png) no-repeat center;
    height: 90px;
}

.clients .logos .slider {
    width: 1060px;
    margin: auto;
    height: 90px;
}

.clients .logos .slide {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.clients .logos .slide.small {
    -ms-flex-pack: center;
    justify-content: center;
}

.clients .logos .slide.small img {
    margin: 0 25px;
}

.reasons {
    height: 945px;
    background: url(../img/reasons.jpg) no-repeat center;
    color: #fff;
}


.reasons .line {
    background: url(../img/line_white.png);
}

.reasons .slider {
    margin-top: 135px;
    height: 440px;
}

.reasons .slider h2 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 25px;
}

.reasons .slider p {
    font-size: 22px;
    font-weight: 300;
    width: 620px;
    margin: auto;
    line-height: 1.3;
}

.reasons .btn {
    margin-top: 60px;
    width: 325px;
}

.reasons .wrap {
    top: -945px;
}

.reasons .mask {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 945px;
    background: url(../img/reasons_mask.png) no-repeat center;
}

#opt {
    width: 100%;
    height: 945px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

#home1 #video-box,
#home1 #bgvid {
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#video-box {
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#home1 #bgvid {
    opacity: 0;
}

@media (min-aspect-ratio: 16/9) {
    #video-box>video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    #video-box>video {
        width: 300%;
        left: -100%;
    }
}




/* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */

@supports (object-fit: cover) {
    #video-box>video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .reasons .mask {
        display: none;
    }
    #video-box {
        display: none;
    }
}


.settings {
    height: 1085px;
    background: url(../img/settings.jpg) no-repeat center;
    color: #1c2b3a;
}

.settings .laurels {
    margin: 65px auto 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 580px;
}




.settings .laurels .laurel {
    width: 145px;
    height: 182px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/laurel.png);
    display: inline-block;
    color: #5c7790;
    font-size: 11px;
    line-height: 1;
    padding-top: 40px;
}

.settings .laurels .laurel b {
    font-size: 41px;
}

.settings .laurels .laurel.big {
    width: 180px;
    font-size: 14px;
    padding-top: 33px;
}

.settings .laurels .laurel.big b {
    font-size: 52px;
    line-height: 1;
}

.settings h2 {
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
    color: #1c2b3a;
}

.settings .boolets {
    margin-top: 55px;
}

.settings .boolets .top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.settings .boolets .bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 40px;
}

.settings .boolets img {
    display: block;
    margin: 0 auto 5px;
    width: 70px;
}

.settings .boolets li {
    font-size: 14px;
    font-weight: 300;
    color: #1c2b3a;
    width: 270px;
    padding: 0px;
}


.settings .boolets li b {
    text-transform: uppercase;
    font-size: 16px;
}



.mark {
    height: 1050px;
    background: url(../img/mark.jpg) no-repeat center;
}

.mark .slide {
    padding-left: 520px;
    height: 970px;
    overflow: hidden;
    text-align: left;
}


.mark h2 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 60px;
    color: #fff;
}

.mark h3 {
    font-size: 18px;
    margin-top: 60px;
    color: #fff;
    font-weight: 300;
    text-align: left;
}

.mark h3 b {
    text-transform: uppercase;
    color: #b2daff;
    font-size: 36px;
}

.mark .boolets {
    margin-top: 50px;
    color: #fff;
    text-align: left;
}

.mark .boolets li {
    float: left;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-left: 60px;
}

.mark .boolets li .laurel {
    width: 118px;
    height: 121px;
    font-size: 41px;
    font-weight: bold;
    background: url(../img/laurel_white.png);
    margin: 0 auto 5px;
    text-align: center;
    padding-top: 23px;
}

.mark .boolets li:first-child {
    margin-left: 0;
}

.mark p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    text-align: left;
    margin-top: 20px;
}

.mark p+h2 {
    margin-top: 90px;
    text-align: left;
}

.mark .serts {
    margin-top: 15px;
    text-align: left;
}

.mark .serts a {
    display: inline-block;
}

.mark .serts a img {
    height: 173px;
}

.mark .serts a:nth-child(2) {
    margin-left: 15px;
}

.mark .btn {
    margin: 75px 0 5px 0;
    display: inline-block;
    width: auto;
    padding: 15px 20px;
}

.layer {
    height: 505px;
    background: #f5f6f4;
    color: #1c2b3a;
}

.layer form {
    width: 835px;
    border: 1px dashed #d4d5d4;
    border-radius: 100px;
    margin: 40px auto 0;
    padding: 30px 0;
}

.layer form a {
    color: #000;
}

.layer form p {
    font-size: 12px;
    margin-top: 10px;
}

.layer form input[type='checkbox'] {
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 50;
    left: 178px;
    top: 103px;
}

form input {
    width: 360px;
    text-align: center;
    height: 60px;
    padding: 0;
    border-radius: 40px;
}

form .btn {
    margin-left: 5px;
}

input.clientPhone {
    font-size: 16px;
    box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.15);
}

.layer .text {
    width: 835px;
    text-align: center;
    margin: 15px auto;
    box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    background: #fff;
    font-size: 20px;
    font-weight: 300;
    color: #1c2b3a;
    padding: 25px 0;
}


.layer .text b {
    font-size: 22px;
    text-transform: uppercase;
}

.sites {
    height: 1264px;
    background: url(../img/sites.jpg) no-repeat center;
    color: #fff;
}

.sites .line {
    background: url(../img/line_white.png);
}


.sites .icons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 70px;
}



.sites .icons img {
    display: block;
    margin: 0 auto 5px;
}

.sites .icons li {
    font-size: 22px;
    font-weight: 300;
}

.sites h2 {
    margin-top: 110px;
    font-weight: 300;
}

.sites h2 b {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.sites .btn {
    width: 560px;
}

.sites .slideshow h2 {
    margin-top: 55px;
}

.reviews {
    background: #f5f6f4;
    color: #1c2b3a;
}

.reviews .containe {
    margin-top: 60px;
}

.reviews .containe_hidden {
    display: none;
}

.reviews .review {
    background: #fff;
    padding: 25px;
    width: 375px;
    margin-bottom: 37px;
    margin-left: 37px;
    float: left;
}

.reviews .review:nth-child(3n+1) {
    margin-left: 0;
}

.reviews .review .photo {
    width: 109px;
    height: 109px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    border-radius: 100px;
}

.reviews .review .info {
    text-align: left;
    float: left;
    margin-left: 15px;
    width: 200px;
    overflow: hidden;
}

.reviews .review .info h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.reviews .review .info h3 {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}

.reviews .review .info h3.adress {
    color: #5e5e5e;
}

.reviews .review .info h3.adress a {
    color: #5e5e5e;
    text-decoration: underline;
}

.reviews .review p.rev {
    line-height: 1.3;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    margin-top: 25px;
    padding-left: 15px;
    position: relative;
}

.reviews .review p.rev:before {
    content: '';
    position: absolute;
    left: -17px;
    top: 0;
    width: 24px;
    height: 16px;
    background: url(../img/kav.png);
}


.reviews .btn {
    margin: 20px auto 50px;
    width: 395px;
}



.faq {
    height: 650px;
    background: url(../img/faq.jpg) no-repeat center;
    color: #fff;
    position: relative;
}

.faq .line {
    background: url(../img/line_white.png);
}

.faq .containe {
    margin-top: 60px;
    height: 355px;
}

.faq h2.question {
    font-size: 22px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px dotted;
    color: #b1d2ec;
    margin-top: 40px;
    cursor: pointer;
    letter-spacing: 3px;
}

.faq h2:hover {
    border-color: transparent;
}

.faq p.answer {
    display: none;
    margin-top: 10px;
}


.faq .btn {
    width: 300px;
}

.map {
    height: 720px;
}

.map h1 {
    font-size: 22px;
}

.map .containe {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    background: url(../img/point.png);
    width: 393px;
    height: 518px;
    top: 30px;
}

.map h2 {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-top: 25px;
}

.map h2.number b {
    font-size: 40px;
    letter-spacing: normal;
}

.map h2.number span {
    text-transform: uppercase;
}

.map h2.mail a {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000;
}

.map h2.adress b {
    letter-spacing: normal;
}


footer {
    height: 100px;
    background: #435464;
}

footer .wrap {
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}




footer .rekviz {
    color: #fff;
    text-align: center;
}


footer .decima a {
    color: #fff;
}

footer .decima h4 {
    font-weight: normal;
    font-size: 12px;
    padding-left: 11px;
}

footer .decima img {
    display: block;
}

footer .btn {
    width: 260px;
    margin: 0;
}





/*МОДАЛЬНОЕ ОКНО НАЧАЛО*/

.modal_background {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000;
    opacity: .9;
    filter: alpha(opacity=0.9);
    z-index: 600;
    display: none;
}

.modal_background_frame {
    width: 825px;
    height: 315px;
    background: #fff;
    position: fixed;
    z-index: 602;
    display: none;
    text-align: center;
    padding: 25px 20px;
}

.modal_background_frame .modal_h1 {
    font-size: 32px;
    font-weight: bold;
}

.modal_background_frame .modal_h2 {
    font-size: 16px;
    margin-top: 20px;
    position: relative;
}

.modal_background_frame .modal_h2:before {
    content: "";
    margin: auto;
    position: absolute;
    width: 32px;
    height: 34px;
    background: url(../img/clock.png);
    left: 0;
    top: 0;
    bottom: 0;
}

.modal_background_frame .modal_exit {
    width: 27px;
    height: 27px;
    background: url(../img/close.png);
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: .7;
}

.modal_background_frame .modal_exit:hover {
    opacity: 1;
}

.modal_background_frame form {
    margin: auto;
    width: 730px;
    margin-top: 40px;
}


.modal_background_frame h6 {
    position: relative;
    font-size: 12px;
    font-weight: normal;
    padding-left: 13px;
    margin-top: 25px;
}

.modal_background_frame h6:before {
    content: "";
    margin: auto;
    position: absolute;
    width: 7px;
    height: 9px;
    background: url(../img/lock.png);
    left: 0;
    top: 0;
    bottom: 2px;
}

.modal_background_frame input {
    float: left;
}

.modal_background_frame input.btn {
    margin-left: 10px;
}

.clientPhone.error {
    animation: error linear .4s 3;
}




/*
.clientPhone.error::-webkit-input-placeholder {color:red;}
.clientPhone.error::-moz-placeholder          {color:red;}
.clientPhone.error:-moz-placeholder           {color:red;}
.clientPhone.error:-ms-input-placeholder      {color:red;}
*/

@keyframes error {
    0% {
        box-shadow: 0px 0px 35px 0px rgba(217, 21, 21, 1);
    }

    100% {
        box-shadow: 0px 0px 35px 0px rgba(217, 21, 21, 0);
    }
}

.modal_background_frame form a {
    color: #000;
}

.modal_background_frame form p {
    font-size: 12px;
    margin-top: 10px;
}

.modal_background_frame input[type='checkbox'] {

    width: 14px;
    height: 14px;
    position: absolute;
    z-index: 50;
    left: 122px;
    top: 73px;
}




/*МОДАЛЬНОЕ ОКНО КОНЕЦ*/


/*   */

.tel-link {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.tel-link:hover {
    color: white;
    text-decoration: none;
}

.tel-link:hover::before {
    opacity: 0;
}

.tel-link::before {
    color: white;
    background: white;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 26px;
    display: block;
    content: "";
    transition: 0.5s;
    opacity: 1;
}


.tel-link--map {
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.tel-link--map:hover {
    color: black;
    text-decoration: none;
}

.tel-link--map:hover::before {
    opacity: 0;
}

.tel-link--map::before {
    color: black;
    background: black;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 40px;
    display: block;
    content: "";
    transition: 0.5s;
    opacity: 1;
}


.tel-link--top {
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.tel-link--top:hover {
    color: black;
    text-decoration: none;
}

.tel-link--top:hover::before {
    opacity: 0;
}

.tel-link--top::before {
    color: black;
    background: black;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 26px;
    display: block;
    content: "";
    transition: 0.5s;
    opacity: 1;
}

.header--box {
    width: 100%;
    position: relative;
    height: 90%;
}

.box--logo {
    position: absolute;
    width: 300px;
    height: auto;
    left: 37%;
    top: 24%;
    background-repeat: no-repeat;
}

.logo--caption {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 29%;
    font-size: 20px;
}

.box--one,
.box--two,
.box--three,
.box--for {
    padding-top: 5%;
    width: 49%;
    height: 435px;
    display: inline-block;
    box-sizing: border-box;
    transition: all 1s;
}

.box--one:hover,
.box--two:hover,
.box--three:hover,
.box--for:hover {
    transform: scale(1.05);
}

.box--icon {
    width: 20%;
}

.box--caption {
    font-size: 16px;
    padding-left: 12%;
    padding-right: 12%;
    color: white;
}

.box--one {
    animation: faide--one 3s linear;
}

.box--two {
    animation: faide--two 3s linear;
}

.box--three {
    animation: faide--three 3s linear;
}

.box--for {
    animation: faide--for 3s linear;
}

.logo--footer {
    width: 70px;
}


@keyframes faide--one {
    0% {
        transform: translate(0px, 0px);
        opacity: 0;
    }
    60% {
        transform: translate(60px, 60px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes faide--two {
    0% {
        transform: translate(0px, 0px);
        opacity: 0;
    }
    70% {
        transform: translate(-60px, 60px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes faide--three {
    0% {
        transform: translate(0px, 0px);
        opacity: 0;
    }
    80% {
        transform: translate(60px, -60px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes faide--for {
    0% {
        transform: translate(0px, 0px);
        opacity: 0;
    }
    90% {
        transform: translate(-60px, -60px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.buttun__link {
    background-image: url(../img/glare.svg);
    background-position: -150%;
    background-color: #b1d2ec;
    animation: glare ease-in 4s infinite;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 0px #95b3ca;
    position: relative;
    transition: 0.5s all;
}

@keyframes glare {
    45% {
        background-position: 250%;
    }
    100% {
        background-position: 1500%;
    }
}

.action {
    width: 240px;
    height: 40px;
    line-height: 30px;
    background-color: #b1d2ec;
    box-shadow: 0px 4px 0px #95b3ca;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    letter-spacing: 2px;
    animation: ripple 2s infinite;
}

@keyframes ripple {
    50% {
        transform: scale(1.05);
    }
}

.fa-plus {
    font-style: normal!important;
    color: #000;
}

@keyframes colors {
    50% {
    color: #b1d2ec;
    }
}
.section--one-caption{
   animation: colors 4s infinite ease-in-out; 
}
