*{
	padding: 0px;
	margin: 0px;
	font-family: helvetica;
}
body{
  background-image: -moz-linear-gradient( -28.61deg, rgb(87,225,255) 0%, rgb(53,184,213) 100%);
  background-image: -webkit-linear-gradient( -28.61deg, rgb(87,225,255) 0%, rgb(53,184,213) 100%);
  background-image: -ms-linear-gradient( -28.61deg, rgb(87,225,255) 0%, rgb(53,184,213) 100%);
  height: 4300px;
}
.Debugging{
	position: fixed;
	top: 100px;
	left: 100px;
	display: block;
	z-index: 100;
	width: 180px;
	height: 40px;
	background: green;
	color: white;
	border-radius: 5px;
	text-align: center;
	padding-top: 12px;
	box-sizing: border-box;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: helvetica;
	display: none;
}
.asphalt{
	height: 50px;
	background: #818181;
	width: 100%;
}
.header{
	height: 500px;
	position: relative;
}
.header__caption{
	position: absolute;
	top: 180px;
	left: 550px;
	width: 500px;
}
.header__illustration{
	position: absolute;
	width: 370px;
	top: 85px;
	left: 60px;
}
.header__logo{
	position: absolute;
	top: 20px;
	left: 0;
	width: 180px;
}
.main, .footer, .header{
	width: 1140px;
	margin: auto;
}
.confetti{
	position: absolute;	
	width: 1140px;
}
.confetti-section{
	top: -70px;
	left: 40px;
	width: 1100px;
}
.confetti-img{
	position: absolute;
}
.confetti-img:nth-child(1){
	top: 70px;
	left: 140px;
	width: 120px;
	animation: cofettis 1.7s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(2){
	top: 300px;
	width: 140px;
	left: 50px;
	animation: cofettis 2s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(3){
	top: 200px;
	width: 130px;
	left: 50px;
	animation: cofettis 1.8s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(4){
	top: 100px;
	width: 120px;
	left: 40px;
	animation: cofettis 2.5s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(5){
	top: 80px;
	width: 310px;
	left: 600px;
	animation: cofettis 1.8s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(6){
	top: 30px;
	width: 300px;
	left: 140px;
	animation: cofettis 1.5s infinite ease-out;
	opacity: 0;
}

.confetti-img:nth-child(7){
	top: 70px;
	left: 840px;
	width: 120px;
	animation: cofettis 1.7s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(8){
	top: 300px;
	width: 140px;
	left: 850px;
	animation: cofettis 2s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(9){
	top: 200px;
	width: 130px;
	left: 850px;
	animation: cofettis 1.8s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(10){
	top: 100px;
	width: 120px;
	left: 920px;
	animation: cofettis 2.5s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(11){
	top: 100px;
	width: 130px;
	left: 450px;
	animation: cofettis 3s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(12){
	top: 100px;
	width: 120px;
	left: 320px;
	animation: cofettis 2.5s infinite ease-out;
	opacity: 0;
}
@keyframes cofettis{
	50%{
		opacity: 1;
	}
}
.main{
	border-left: 10px solid #484848;
	border-right: 10px solid #484848;
	position: relative;
}
.section{
	height: 500px;
	border-top: 20px solid #484848;
	position: relative;
}
.section--one,.section--three,.section--five {
	background: url(../img/kom/1140.svg);
	background-size: cover;
}
.section--two,.section--for,.section--six {
	background: url(../img/kom/1140-2.svg);
	background-size: cover;
}
.header-claud-box{
	position: relative;
}
.header__claud:nth-child(1){
	width: 120px;
	position: absolute;
	top: 240px;
	left: 20px;
	opacity: 0;
	animation: clauds 22s infinite linear;
}
.header__claud:nth-child(2){
	width: 90px;
	position: absolute;
	top: 200px;
	left: 10px;
	opacity: 0;
	animation: clauds 18s infinite linear;
}
.header__claud:nth-child(3){
	width: 110px;
	position: absolute;
	top: 350px;
	left: 50px;
	opacity: 0;
	animation: clauds 28s infinite linear;
}
.header__claud:nth-child(4){
	width: 60px;
	position: absolute;
	top: 100px;
	left: 20px;
	opacity: 0;
	animation: clauds 32s infinite linear;
}
.header__claud:nth-child(5){
	width: 50px;
	position: absolute;
	top: 50px;
	left: 80px;
	opacity: 0;
	animation: clauds 25s infinite linear;
}
.header__claud:nth-child(6){
	width: 70px;
	position: absolute;
	top: 100px;
	left: 10px;
	opacity: 0;
	animation: clauds 20s infinite linear;
}

.header__claud:nth-child(7){
	width: 60px;
	position: absolute;
	top: 390px;
	left: 20px;
	opacity: 0;
	animation: clauds 22s infinite linear;
	animation-delay: 10s;
}
.header__claud:nth-child(8){
	width: 50px;
	position: absolute;
	top: 170px;
	left: 80px;
	opacity: 0;
	animation: clauds 25s infinite linear;
	animation-delay: 10s;
}
.header__claud:nth-child(9){
	width: 70px;
	position: absolute;
	top: 230px;
	left: 10px;
	opacity: 0;
	animation: clauds 15s infinite linear;
	animation-delay: 10s;
}

@keyframes clauds{
	45%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		left: 1000px;
	}

}
.article{
	width: 940px;
	position: relative;
	height: 400px;
	top: 90px;
	left: 100px;
}
.content-box--right{
	right: 40px;
	top: 70px;
	position: relative;
	width: 370px;
	float: right;
}
.article__caption{
	color: color: #252525;
	margin-bottom: 20px;
	font-size: 36px;
}
.article-text{
	color: color: #252525;
	line-height: 1.4;
}
.article-illustration--one{
	width: 350px;
	top: 100px;
	position: absolute;
}

.article-illustration--one-tresh-1{
	width: 45px;
	top: 310px;
	left: 600px;
	position: absolute;
}
.article-illustration--one-tresh-2{
	width: 30px;
	top: 330px;
	left: 400px;
	position: absolute;
}
.article-illustration--one-tresh-3{
	width: 130px;
	top: 330px;
	left: 850px;
	position: absolute;
}
.article-illustration--three-tresh-1{
	width: 150px;
	top: 310px;
	left: 550px;
	position: absolute;
}
.article-illustration--three-tresh-2{
	width: 150px;
	top: 130px;
	left: 320px;
	position: absolute;
}
.article-illustration--three-tresh-3{
	width: 40px;
	top: 330px;
	left: 920px;
	position: absolute;
}
.article-illustration--five-tresh-1{
	width: 150px;
	top: 310px;
	left: 550px;
	position: absolute;
}
.article-illustration--five-tresh-2{
	width: 150px;
	top: 300px;
	left: 420px;
	position: absolute;
}
.article-illustration--five-tresh-3{
	width: 40px;
	top: 330px;
	left: 720px;
	position: absolute;
}

.article-illustration--window{
	top: 60px;
	width: 80px;
	left: 950px;
	position: absolute;
	transform: scale(-1,1);
}
.article-illustration--window-2{
	top: 35px;
	left: 1050px;	
}
.article-illustration--two{
	width: 300px;
	top: 70px;
	position: absolute;
	left: 590px;
}
.article-illustration--three{
	width: 250px;
	top: 110px;
	position: absolute;
	left: 60px;
}
.article-illustration--three-2{
	left: 80px;
	width: 50px;
	top: 70px;
	transform: rotate(-15deg);
	animation: quazis 2s linear infinite;
}
.article-illustration--three-3{
	left: 240px;
	width: 40px;
	top: 80px;
	transform: rotate(15deg);
	animation: quazis 1.5s linear infinite;
}
@keyframes quazis{
	50%{
		opacity: 0;
	}
}
.article-illustration--for{
	width: 280px;
	top: 65px;
	position: absolute;
	left: 590px;
}
.article-illustration--for-2{
	width: 110px;
	left: 630px;
	top: -10px;
	opacity: 0;
	animation:  talkingsOne 4s linear infinite;
}
.article-illustration--for-3{
	width: 100px;
	left: 740px;
	top: 0px;
	opacity: 0;
	animation:  talkingsTwo 4s linear infinite;
}
@keyframes talkingsOne{
	19%{
	opacity: 0;	
	}
	20%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
@keyframes talkingsTwo{
	49%{
	opacity: 0;	
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
.article-illustration--five{
	width: 390px;
	top: 80px;
	position: absolute;
	left: 30px;
}
.article-illustration--six{
	width: 400px;
	top: 20px;
	position: absolute;
	left: 550px;
}
.article-table-easel{
	position: absolute;
	width: 470px;
	top: -0px;
}
.article-table-canvas{
	position: absolute;
	width: 430px;
	top: -10px;
	left: 495px;
}
.content-box--left{
	left: 40px;
	top: 70px;
	position: relative;
	width: 370px;
	float: left;
}
.article__caption--left, .article-text--left{
	color: #252525;
	text-align: right;
}

.claud-box{
	position: absolute;
	top: 0px;
	left: 0px;
}

.claud:nth-child(1){
	width: 120px;
	position: absolute;
	top: 540px;
	left: 1100px;
}
.claud:nth-child(2){
	width: 120px;
	position: absolute;
	top: 700px;
	left: -90px;
}
.claud:nth-child(3){
	width: 70px;
	position: absolute;
	top: 620px;
	left: -100px;
}
.claud:nth-child(4){
	width: 150px;
	position: absolute;
	top: 1400px;
	left: 1050px;
}
.claud:nth-child(5){
	width: 200px;
	position: absolute;
	top: 1500px;
	left: -100px;
}
.claud:nth-child(6){
	width: 110px;
	position: absolute;
	top: 2000px;
	left: -60px;
}

.claud:nth-child(7){
	width: 90px;
	position: absolute;
	top: 2300px;
	left: 1110px;
	
}
.claud:nth-child(8){
	width: 150px;
	position: absolute;
	top: 2470px;
	left: -80px;
	
}
.claud:nth-child(9){
	width: 120px;
	position: absolute;
	top: 70px;
	left: -60px;	
}
.footer{
	border-top: 20px solid #484848;
	border-left: 10px solid #484848;
	border-right: 10px solid #484848;
	position: relative;
}
.footer-window{
	height: 500px;
	position: relative;
	background: url(../img/kom/1140-footer.svg);
}
.link__icon{
	width: 35px;
	opacity: 0.5;
	transition: all 0.3s linear;
}
.link__icon:hover{
	opacity: 1;
}
.footer-list-item{
	display: inline-block;
	margin-right: 15px;
}
.footer-list-item:nth-child(3){
	margin-right: 0px;
}
.footer-list{
	padding-left: 0px;
	width: 150px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-text{
	text-align: center;
	font-size: 14px;
	color: #c2c2c2;
}
.footer__wrapper{
	background: #484848;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
.footer-illustration{
	top: -140px;
	width: 200px;
	left: 130px;
	position: absolute;
}
.footer__caption{
	position: absolute;
	top: 10px;
	width: 1160px;
	left: -10px;
}
.article-table-canvas--hiden, .article-table-canvas-320{
	display: none;
}
.confetti-section{
	top: 10px;	
}
.decor--one-1{
	position: absolute;
	top: 130px;
	left: 110px;
	width: 220px;	
}
.decor--one-2{
	position: absolute;
	top: 410px;
	left: 510px;
	width: 160px;	
}
.decor--one-3{
	position: absolute;
	top: 390px;
	left: 710px;
	width: 100px;	
}
.decor--two-1{
	position: absolute;
	top: 280px;
	left: 600px;
	width: 60px;
}
.decor--three-2{
	position: absolute;
	top: 390px;
	left: 910px;
	width: 100px;
}
.decor--three-3{
	position: absolute;
	top: 390px;
	left: 110px;
	width: 80px;
}
.decor--three-4{
	position: absolute;
	top: 390px;
	left: 810px;
	width: 100px;
}
.decor--three-5{
	position: absolute;
	top: 430px;
	left: 390px;
	width: 80px;
}
.decor--for-1{
	position: absolute;
	top: 280px;
	left: 600px;
	width: 70px;
}
.decor--for-2{
	position: absolute;
	top: 280px;
	left: 980px;
	width: 60px;
}
.decor--for-3{
	position: absolute;
	top: 200px;
	left: 700px;
	width: 220px;	
}
.decor--five-1{
	position: absolute;
	top: 120px;
	left: 270px;
	width: 60px;
}
.decor--five-2{
	position: absolute;
	top: 128px;
	left: 298px;
	width: 4px;
	animation: timing 5s infinite steps(8);
    transform-origin: 50% 80%;
}
.decor--five-3{
	position: absolute;
	top: 420px;
	left: 960px;
	width: 100px;
}
.decor--five-4{
	position: absolute;
	top: 368px;
	left: 798px;
	width: 90px;
	z-index: 100;	
}

@keyframes timing {
  100%{
    transform: rotate(360deg);
  }
}
.car-box{
	width: 700px;	
	background: url(../img/car.svg);
	background-repeat: no-repeat;
	position: absolute;
	height: 200px;
	top: 460px;
	left: 680px;	
}
.bath{
	position: absolute;
	left: 227px;	
	width: 45px;
	top: 105px;	
	animation: 	 timing 10s infinite linear;	
}
.bath:nth-child(2){
	position: absolute;
	left: 600px;	
	width: 35px;
	top: 90px;	
	animation: 	 timing 10s infinite linear;
}
