@media only screen and (max-width: 1610px) and (min-width: 1300px){
.car-box{
	width: 530px;	
	background: url(../img/car.svg);
	position: absolute;
	height: 150px;
	top: 495px;
	left: 680px;		
}
.bath{
	position: absolute;
	left: 170px;	
	width: 35px;
	top: 78px;	
	animation: 	 timing 10s infinite linear;	
}
.bath:nth-child(2){
	position: absolute;
	left: 452px;	
	width: 29px;
	top: 68px;	
	animation: 	 timing 10s infinite linear;
}

}

@media only screen and (max-width: 1300px) and (min-width: 992px){
	body{
		width: 1300px;
		background: #54ddfb;
	}
	.claud:nth-child(1){
		width: 110px;
	    position: absolute;
	    top: 530px;
	    left: 1000px;
	}
	.claud:nth-child(4){
	    width: 100px;
	    position: absolute;
	    top: 1400px;
	    left: 1040px;
	}
	.claud:nth-child(7){
	    width: 90px;
	    position: absolute;
	    top: 2300px;
	    left: 1010px;
	}
	.article-illustration--window-2{
		top: 35px;
		left: 1050px;	
	}
	.car-box{
	width: 600px;	
	background: url(../img/car.svg);
	background-position: 150px;
	background-repeat: no-repeat;
	position: absolute;
	height: 170px;
	top: 480px;
	left: 620px;		
}
.bath{
	position: absolute;
	left: 344px;	
	width: 40px;
	top: 90px;	
	animation: 	 timing 10s infinite linear;	
}
.bath:nth-child(2){
	display: none;
}
}

@media only screen and (max-width: 992px) and (min-width: 769px){
	body{
		width: 992px;
		background: #54ddfb;
	}
	.header__logo{
	left: 20px;
}
	.main, .footer, .header, .confetti{
		width: 992px;
		margin: auto;
 	}
 	.footer__caption{
 		width: 992px;
 	}
 	.article{
 		width: 760px;
 	}
 	.main,.footer{
		box-sizing: border-box;

	}
	.footer-window{
		background-size: cover;
		background-position: -85px;
	}
	.claud:nth-child(1),.claud:nth-child(4),.claud:nth-child(7), .article-illustration--three-tresh-2 {
		display: none;
	}
	.article-illustration--window{
		left: 780px;	
	}
	.article-illustration--window-2{
		top: 45px;
		left: 880px;	
	}
	
	@keyframes clauds{
	45%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		left: 800px;
	}

}
.article-illustration--one-tresh-3{
	left: 700px;
}
.article-illustration--two{
	left: 500px;
}
.article-illustration--one{
	left: -50px;
}
.article-illustration--for{
	left: 500px;
}
.article-illustration--three{
	left: 20px;
}
.article-illustration--three-3{
	left: 220px;
}
.article-illustration--for-3{
	left: 660px;
}
.article-illustration--for-2{
	left: 540px;
}
.article-illustration--five{
	left: -40px;
}
.article-illustration--six {
    width: 370px;
    top: 30px;
    position: absolute;
    left: 420px;
}
.article-illustration--three-tresh-3{
	left: 700px;
}
.article-table-canvas{
	left: 320px;
}
.header__caption{
	left: 450px;
}

.confetti-img:nth-child(7){
	top: 70px;
	left: 780px;
	width: 120px;
	animation: cofettis 1.7s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(8){
	top: 300px;
	width: 140px;
	left: 790px;
	animation: cofettis 2s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(9){
	top: 200px;
	width: 130px;
	left: 790px;
	animation: cofettis 1.8s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(10){
	top: 100px;
	width: 120px;
	left: 760px;
	animation: cofettis 2.5s infinite ease-out;
	opacity: 0;
}
.confetti{
	width: 972px;
	left: 0px;	
}
.section--one,.section--three,.section--five {
	background: url(../img/kom/992.svg);
	background-size: cover;
}
.section--two,.section--for,.section--six {
	background: url(../img/kom/992-2.svg);
	background-size: cover;
}
.decor--one-1{
	position: absolute;
	top: 130px;
	left: 130px;
	width: 220px;	
}
.decor--two-1{
	top: 280px;
	left: 530px;
	width: 60px;
}
.decor--three-2{
	position: absolute;
	top: 390px;
	left: 810px;
	width: 100px;
}
.decor--three-3{
	position: absolute;
	top: 390px;
	left: 110px;
	width: 80px;
}
.decor--three-4{
	position: absolute;
	top: 390px;
	left: 510px;
	width: 100px;
}
.decor--three-5{
	position: absolute;
	top: 430px;
	left: 390px;
	width: 80px;
}
.decor--for-1{
	top: 280px;
	left: 720px;
	width: 70px;
}
.decor--for-2{
	position: absolute;
	top: 280px;
	left: 480px;
	width: 60px;
}
.decor--for-3{
	top: 160px;
	left: 540px;
	width: 220px;	
}
.decor--five-1{
	top: 120px;
	left: 210px;
	width: 60px;
}
.decor--five-2{
	top: 128px;
	left: 238px;
	width: 4px;
	animation: timing 5s infinite steps(8);
    transform-origin: 50% 80%;
}
.decor--five-3{
	position: absolute;
	top: 420px;
	left: 820px;
	width: 100px;
}
.decor--five-4{
	position: absolute;
	top: 368px;
	left: 428px;
	width: 90px;
	z-index: 100;	
}
.car-box{
	width: 600px;	
	background: url(../img/car.svg);
	background-position: 300px;
	background-repeat: no-repeat;
	position: absolute;
	height: 170px;
	top: 480px;
	left: 382px;		
}
.bath{
	position: absolute;
	left: 494px;	
	width: 40px;
	top: 90px;	
	animation: 	 timing 10s infinite linear;	
}
.bath:nth-child(2){
	display: none;
}


}

@media only screen and (max-width: 768px) and (min-width: 481px){
	body {
  		width: 768px;
  		background: #54ddfb;

}

.header{
	height: 700px;
}
.header__logo{
	left: 20px;
}
.header__illustration{
	left: 200px;
}
	.main, .footer, .header, .confetti{
		width: 768px;
		margin: auto;
 	}
 	.footer__caption{
 		width: 768px;
 	}
 	.article{
 		width: 500px;
 	}
 	.main,.footer{
		box-sizing: border-box;

	}
	.footer-window{
		background-size: cover;
		background-position: -197px;
	}
	.claud:nth-child(1),.claud:nth-child(4),.claud:nth-child(7), .article-illustration--three-tresh-2 {
		display: none;
	}
	.article-illustration--window{
		top: 200px;	
		left: 570px;	
		display: block;
	}
	.article-illustration--window-2{
		top: 345px;
		left: 685px;
		width: 50px;		
	}
	@keyframes clauds{
	45%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		left: 650px;
	}

}
.article-illustration--one-tresh-3{
	left: -40px;
	top: 545px;
}
.article-illustration--five-tresh-3{
	left: 20px;
	top: 540px;
}
.article-illustration--five-tresh-2{
	top: 500px;
}
.article-illustration--five-tresh-1{
	display: none;
}
.article-illustration--three-tresh-1{
	left: 20px;
	top: 500px;
}
.article-illustration--three-tresh-3{
	left: 500px;
	top: 520px;
}
.article-illustration--one-tresh-1{
	left: 540px;
	top: 520px;
}
.article-illustration--one-tresh-2{
	top: 550px;
	left: 490px;
}
.article-illustration--two{
	left: 150px;
	top: 310px;
	width: 280px;
}
.article-illustration--one{
	width: 360px;
	left: 100px;
	top: 320px;
}
.article-illustration--for{
	left: 135px;
	top: 300px;
}
.article-illustration--three{
	left: 145px;
	top: 310px;
}
.article-illustration--three-3{
	left: 350px;
}
.article-illustration--for-3{
	left: 290px;
	top: 240px;
	z-index: 100;
}
.article-illustration--for-2{
	left: 175px;
	top: 255px;
	z-index: 100;
}
.article-illustration--five{
	left: 60px;
	width: 370px;
	top: 310px;
}
.article-illustration--six {
    width: 370px;
    top: 290px;
    position: absolute;
    left: 80px;
}

.article-table-canvas{
	left: 60px;
}
.header__caption{
	left: 130px;
	top: 470px;
}
.confetti-img:nth-child(5){
	top: 70px;
	left: 480px;
	width: 120px;
	animation: cofettis 1.7s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(7){
	top: 70px;
	left: 580px;
	width: 120px;
	animation: cofettis 1.7s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(8){
	top: 300px;
	width: 140px;
	left: 560px;
	animation: cofettis 2s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(9){
	top: 200px;
	width: 130px;
	left: 590px;
	animation: cofettis 1.8s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(10){
	top: 100px;
	width: 120px;
	left: 560px;
	animation: cofettis 2.5s infinite ease-out;
	opacity: 0;
}
.confetti{
	width: 748px;
	left: 0px;	
}
.section--one,.section--three,.section--five {
	background: url(../img/kom/768.svg);
	background-size: cover;
}
.section--two,.section--for,.section--six {
	background: url(../img/kom/768-2.svg);
	background-size: cover;
}
.content-box--right{
	width: 350px;
	right: 55px;
}
.content-box--left{
	left: 85px;
}
.section{
	height: 720px;
	border-top: 20px solid #484848;
	position: relative;
}
.article-table-easel{
	display: none;
}
.article-table-canvas--hiden{
	display: block;
}
.footer-illustration{
	left: 90px;
}
.decor--one-1{
	top: 385px;
	left: 110px;
	width: 220px;	
}
.decor--one-2{
	top: 600px;
	left: 550px;
	width: 120px;	
}
.decor--one-3{
	top: 590px;
	left: 150px;
	width: 100px;	
}
.decor--two-1{
	top: 480px;
	left: 550px;
	width: 60px;
}
.decor--three-2{
	top: 590px;
	left: 600px;
	width: 100px;
}
.decor--three-3{
	top: 565px;
	left: 80px;
	width: 80px;
}
.decor--three-4{
	top: 590px;
	left: 510px;
	width: 100px;
}
.decor--three-5{
	display: none;
}
.decor--for-1{
	top: 480px;
	left: 580px;
	width: 70px;
}
.decor--for-2{
	top: 480px;
	left: 100px;
	width: 70px;
}
.decor--for-3{
	top: 400px;
	left: 320px;
	width: 220px;	
}
.decor--five-1{
	top: 220px;
	left: 100px;
	width: 60px;
}
.decor--five-2{
	top: 228px;
	left: 128px;
	width: 4px;
}
.decor--five-3{
	top: 620px;
	left: 60px;
	width: 100px;
}
.decor--five-4{
	top: 568px;
	left: 598px;
	width: 90px;
	z-index: 100;	
}
.car-box{
	width: 600px;	
	background: url(../img/car.svg);
	background-position: 300px;
	background-repeat: no-repeat;
	position: absolute;
	height: 170px;
	top: 480px;
	left: 158px;		
}
.bath{
	position: absolute;
	left: 494px;	
	width: 40px;
	top: 90px;	
	animation: 	 timing 10s infinite linear;	
}
.bath:nth-child(2){
	display: none;
}
}


@media only screen and (max-width: 480px) and (min-width: 321px){
	body {
  		width: 480px;
  		background: #54ddfb;
	}
	.claud:nth-child(8){
		top: 2300px;
	}
	.header{
	height: 700px;
}
.header__logo{
	left: 20px;
}
.header__illustration{
	left: 53px;
}
.header__caption{
	left: 10px;
	top: 470px;
	width: 460px;
}
	.main, .footer, .header, .confetti{
		width: 480px;
		margin: auto;
 	}
 	.footer__caption{
 		width: 480px;
 	}
 	.article{
 		width: 350px;
 		left: 35px;
 	}
 	.main,.footer{
		box-sizing: border-box;

	}
	.footer-window{
		background-size: cover;
		background-position: -340px;
	}
	.article-illustration--window-2, .article-illustration--window, .claud:nth-child(1),.claud:nth-child(4),.claud:nth-child(7), .article-illustration--three-tresh-2 {
		display: none;
	}
	@keyframes clauds{
	45%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		left: 370px;
	}

}
.article-illustration--one-tresh-3{
	left: -40px;
	top: 545px;
	display: none;
}
.article-illustration--five-tresh-3{
	left: 20px;
	top: 540px;
	display: none;
}
.article-illustration--five-tresh-2{
	top: 500px;
	display: none;
}
.article-illustration--five-tresh-1{
	display: none;
}
.article-illustration--three-tresh-1{
	left: -10px;
	top: 540px;
}
.article-illustration--three-tresh-3{
	left: 400px;
	top: 520px;
	display: none;
}
.article-illustration--one-tresh-1{
	left: 440px;
	top: 520px;
	display: none;
}
.article-illustration--one-tresh-2{
	top: 550px;
	left: 490px;
	display: none;
}
.article-illustration--two{
	left: 65px;
	top: 310px;
	width: 280px;
}
.article-illustration--one{
	width: 360px;
	left: 5px;
	top: 320px;
}
.article-illustration--for{
	left: 55px;
	top: 300px;
}
.article-illustration--three{
	left: 70px;
	top: 310px;
}
.article-illustration--three-3{
	left: 280px;
}
.article-illustration--for-3{
	left: 210px;
	top: 240px;
	z-index: 100;
}
.article-illustration--for-2{
	left: 105px;
	top: 255px;
	z-index: 100;
}
.article-illustration--five{
	left: 0px;
	width: 370px;
	top: 310px;
}
.article-illustration--six {
    width: 370px;
    top: 290px;
    position: absolute;
    left: 10px;
}

.article-table-canvas{
	width: 420px;
	left: -15px;
}
.confetti-img:nth-child(5){
	top: 70px;
	left: 280px;
	width: 120px;
	animation: cofettis 1.7s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(7){
	top: 70px;
	left: 280px;
	width: 120px;
	animation: cofettis 1.7s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(8){
	top: 300px;
	width: 140px;
	left: 290px;
	animation: cofettis 2s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(9){
	top: 200px;
	width: 130px;
	left: 290px;
	animation: cofettis 1.8s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(10){
	top: 100px;
	width: 120px;
	left: 260px;
	animation: cofettis 2.5s infinite ease-out;
	opacity: 0;
}
.confetti-img:nth-child(11){
	left: 20px;
}
.confetti{
	width: 460px;
}
.section--one,.section--three,.section--five {
	background: url(../img/kom/480.svg);
	background-size: cover;
}
.section--two,.section--for,.section--six {
	background: url(../img/kom/480-2.svg);
	background-size: cover;
}
.content-box--right{
	width: 370px;
	right: 0px;
	left: 35px;
}
.content-box--left{
	left: 5px;
}
.section{
	height: 720px;
	border-top: 20px solid #484848;
	position: relative;
}
.article-table-easel{
	display: none;
}
.article-table-canvas--hiden{
	display: block;
}
.confetti-section{
	top: 150px;
	left: 10px;
}
.footer-illustration{
	left: 20px;
}
.decor--one-1{
	top: 405px;
	left: 60px;
	width: 160px;	
}
.decor--one-2{
	display: none;	
}
.decor--one-3{
	display: none;		
}
.decor--two-1{
	top: 480px;
	left: 380px;
}
.decor--three-2{
	display: none;
}
.decor--three-3{
	top: 560px;
	left: 340px;
	width: 80px;
}
.decor--three-4{
	top: 600px;
	left: 310px;
	width: 100px;
	z-index: 100;	
}
.decor--three-5{
	top: 585px;
	left: 40px;
	width: 80px;
}
.decor--for-1{
	top: 480px;
	left: 380px;
}
.decor--for-2{
	top: 470px;
	left: 20px;
}
.decor--for-3{
	top: 400px;
	left: 150px;
	width: 220px;	
}
.decor--five-1{
	top: 400px;
	left: 340px;
}
.decor--five-2{
	top: 408px;
	left: 368px;
}
.decor--five-3{
	position: absolute;
	top: 650px;
	left: 340px;
	width: 100px;
	z-index: 100;	
}
.decor--five-4{
	position: absolute;
	top: 578px;
	left: 168px;
	width: 90px;
	z-index: 100;	
}
.car-box{
	width: 600px;	
	background: url(../img/car.svg);
	background-position: 430px;
	background-repeat: no-repeat;
	position: absolute;
	height: 170px;
	top: 480px;
	left: -130px;
	display: none;		
}
.footer__wrapper{
	padding-left: 220px;	
}
}

@media only screen and (max-width: 320px){
	body {
  		max-width: 320px;
		background: #54ddfb;
	}
.claud:nth-child(8){
		top: 2300px;
	}
	.header{
	height: 550px;
}
.header__logo{
	left: 20px;
}
.header__illustration{
	left: 20px;
	width: 280px;
}
.header__caption{
	left: 10px;
	top: 405px;
	width: 300px;
}
	.main, .footer, .header, .confetti{
		width: 320px;
		margin: auto;
 	}
 	.footer__caption{
 		width: 320px;
 	}
 	.article{
 		width: 270px;
 		left: 0px;
 	}
 	.main,.footer{
		box-sizing: border-box;
		border-left: 5px solid #484848;
    	border-right: 5px solid #484848;
	}
	.footer-window{
		background-size: cover;
		background-position: -420px;
	}
	.article-illustration--window-2, .article-illustration--window, .claud:nth-child(1),.claud:nth-child(4),.claud:nth-child(7),
	.article-illustration--three-tresh-2,.header-claud-box,.article-illustration--one-tresh-3,
	.article-illustration--five-tresh-3,.article-illustration--five-tresh-2,.article-illustration--five-tresh-1,
	.article-illustration--three-tresh-3, .article-illustration--one-tresh-1, .article-illustration--one-tresh-2, .article-table-canvas,
	.article-table-canvas-hiden {
		display: none;
	}
.article-illustration--three-tresh-1{
	left: -10px;
	top: 540px;
}
.article-illustration--two{
	left: 15px;
	top: 310px;
	width: 280px;
}
.article-illustration--one{
	width: 260px;
	left: 17px;
	top: 400px;
}
.article-illustration--for{
	left: 15px;
	top: 300px;
}
.article-illustration--three{
	left: 27px;
	top: 310px;
}
.article-illustration--three-3{
	left: 240px;
}
.article-illustration--for-3{
	left: 170px;
	top: 240px;
	z-index: 100;
}
.article-illustration--for-2{
	left: 65px;
	top: 255px;
	z-index: 100;
}
.article-illustration--five{
	left: 5px;
	width: 290px;
	top: 370px;
}
.article-illustration--six {
    width: 290px;
    top: 320px;
    position: absolute;
    left: 5px;
}

.article-table-canvas{
	width: 420px;
	left: -15px;
}
.confetti-img:nth-child(5){
	top: 70px;
	left: 280px;
	width: 120px;
	animation: cofettis 1.7s infinite ease-out;
	opacity: 0;
	display: none;
}
.confetti-img:nth-child(6){
	left: 0px;
}
.confetti-img:nth-child(7){
	top: 70px;
	left: 280px;
	width: 120px;
	animation: cofettis 1.7s infinite ease-out;
	opacity: 0;
	display: none;
}
.confetti-img:nth-child(8){
	top: 300px;
	width: 140px;
	left: 290px;
	animation: cofettis 2s infinite ease-out;
	opacity: 0;
	display: none;
}
.confetti-img:nth-child(9){
	top: 200px;
	width: 130px;
	left: 290px;
	animation: cofettis 1.8s infinite ease-out;
	opacity: 0;
	display: none;
}
.confetti-img:nth-child(10){
	top: 100px;
	width: 120px;
	left: 260px;
	animation: cofettis 2.5s infinite ease-out;
	opacity: 0;
	display: none;
}
.confetti-img:nth-child(11){
	left: 20px;
}
.confetti-img:nth-child(12){
	left: -30px;
}
.confetti{
	width: 300px;
}
.section--one,.section--three,.section--five {
	background: url(../img/kom/320.svg);
	background-size: cover;
}
.section--two,.section--for,.section--six {
	background: url(../img/kom/320-2.svg);
	background-size: cover;
}
.content-box--right{
	top: 30px;	
	width: 250px;
	right: 0px;
	left: 30px;
	float: left;
}
.content-box--left{
	top: 30px;	
	width: 250px;
	float: right;
	left: 0px;

}
.section{
	height: 720px;
	border-top: 20px solid #484848;
	position: relative;
}
.article-table-easel{
	display: none;
}
.confetti-section{
	top: 150px;
	left: 10px;
}
.footer-illustration{
	left: 35px;
}
.asphalt{
	height: 160px;
}
.footer-list, .footer-text{
	position: relative;
	top: 150px;
}
.article-table-canvas-320{
	display: block;
	width: 290px;	
	left: 10px;	
}
.decor--one-1{
	top: 395px;
	left: 75px;
	width: 160px;	
}
.decor--one-2{
	display: none;	
}
.decor--one-3{
	display: none;		
}
.decor--two-1{
	top: 480px;
	left: 220px;
}
.decor--three-2{
	display: none;
}
.decor--three-3{
	display: none;
}
.decor--three-4{
	top: 590px;
	left: 200px;
	width: 100px;
	z-index: 100;	
}
.decor--three-5{
	display: none;	
}
.decor--for-1{
	top: 490px;
	left: 120px;
}
.decor--for-2{
	display: none;
}
.decor--for-3{
	top: 380px;
	left: 80px;
	width: 180px;	
}
.decor--five-1{
	top: 400px;
	left: 230px;
}
.decor--five-2{
	top: 408px;
	left: 258px;
}
.decor--five-3{
	top: 650px;
	left: 200px;
	width: 100px;
	z-index: 100;	
}
.decor--five-4{
	top: 588px;
	left: 90px;
	width: 90px;
	z-index: 100;	
}
.car-box{
	display: none;
}
}