#u84-4,#u1417-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1413-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu1410.frm-sub-st #u1426-4 p,#u1426-4
{
	font-family: '__Intro _5';
}

#widgetu1410.frm-subm-ok-st #u1425-6 p,#u1425-6
{
	font-family: '__Intro _5';
}

#u1421-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u120-4,#u87-4,#u88-4,#u357-7,#u371-9,#u364-5,#u255-6,#u255-7,#u255-9,#u257-14,#u259-11,#u261-16,#u256-17,#u258-17,#u260-15,#u262-14,#u316-7,#u320-6,#u324-10,#u315-6,#u322-10,#u327-6,#u318-6,#u421-6,#u422-3,#u422-4,#u422-6,#u422-8,#u422-9,#u423-14
{
	font-family: pt-sans-n4, sans-serif;
}

#u1524-2,#u1524,#u1524-4,#u1524-6,#u1524-8,#u1524-9,#u1524-11,#u1496-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1490-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u354-4,#u356-4,#u105-6,#u107-4,#u194-4,#u142-4,#u209-4,#u314-6,#u317-4,#u319-4,#u321-4,#u323-4,#u325-4,#u326-4,#u328-4,#u329-4,#u301-4,#u341-4,#u390-4,#u431-4,#u457-4,#widgetu1487.frm-sub-st #u1492-4 p,#u1492-4
{
	font-family: '__Intro _5';
}

#widgetu1487.frm-subm-ok-st #u1499-6 p,#u1499-6
{
	font-family: '__Intro _5';
}

#u1502-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1477-4,#u485-2,#u485-4,#u485-6,#u487-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u486-4,#u484-4,#u482-4
{
	font-family: '__Intro _5';
}

#u195-4,#u196-4,#u197-4,#u199-4,#u229-4,#u224-4,#u219-4,#u840-4,#u844-4,#u848-4,#u853-4,#u858-4,#u862-4,#u866-4,#u870-4,#u875-4,#u879-4,#u883-4,#u940-4,#u944-4,#u948-4,#u952-4,#u483-4,#u1849-4
{
	font-family: pt-sans-n7, sans-serif;
}

