@media only screen and (max-width: 1600px) and (min-width: 320px) {
    .header__cal-button {
        transform: rotate(-90deg);
        border-radius: 3px 3px 0px 0px;
        margin-right: -75px;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 320px) {
    .header__cal-button {
        display: none;
    }
}

@media only screen and (max-width: 1220px) and (min-width: 1024px) {
    .section__img-box-knife {
        position: absolute;
        top: 40px;
        right: 15px;
        width: 45%;
    }
    .delevery__sall-boxImg {
        justify-content: space-around;
    }
    .delevery__sall-img {
        margin: 15px;
    }
    .header__knife-box {
        transform: scale(-1, 1);
        left: 15%;
    }
    .header__knife{
    	width: 80%;
    }
    .header__caption{
    	font-size: 100px;
    }
     .header__wrapper{
    	padding-bottom: 30px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 993px) {
    .section__img-box-knife,
    .premise,
    .popup__text,
    .button__gift-icon {
        display: none;
    }
    .section__caption-two,
    .section__subtitle-two,
    .guarantees__caption,
    .guarantees__subtitle,
    .section__delevery-caption {
        text-align: center;
    }
    .section__form {
        width: 70%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        max-width: none;
        margin: auto;
        margin-bottom: 30px;
    }
    .modal__phone {
        margin-bottom: 0px;
    }
    .guarantees__item:nth-child(2) {
        max-width: 580px;
        margin-top: 40px;
    }
    .guarantees__link {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .reviews-data {
        max-width: 50%;
    }
    .header__knife-box {
        transform: scale(-1, 1);
        left: 15%;
    }
    .header__knife{
    	width: 80%;
    }
     .header__caption{
    	font-size: 100px;
    }
     .delevery__sall-boxImg {
        justify-content: space-around;
    }
    .delevery__sall-img {
        margin: 15px;
    }
    .header__bottom-box{
    	top: 88%;
    }
    .header__wrapper{
    	padding-bottom: 30px;
    }
}