@media only screen and (max-width: 768px) and (min-width: 481px) {
    .section__img-box-knife,
    .premise,
    .popup__text,
    .button__gift-icon,
    .header__knife-link,
    .catalog__item:nth-child(5),
    .reviews-img-box {
        display: none;
    }
    .section__caption-two,
    .section__subtitle-two,
    .guarantees__caption,
    .guarantees__subtitle,
    .section__delevery-caption {
        text-align: center;
    }
    .section__form {
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        max-width: none;
        margin: auto;
        margin-bottom: 30px;
    }
    .modal__phone {
        margin-bottom: 0px;
    }
    .guarantees__item:nth-child(2) {
        max-width: 580px;
        margin-top: 40px;
    }
    .guarantees__link {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .reviews-data {
        max-width: 100%;
    }
    .reviews-item {
        padding: 0px;
        box-shadow: none;
    }
    .header__knife-box {
        transform: scale(-1, 1);
        left: -40%;
    }
    .header__knife {
        width: 50%;
    }
    .header__caption {
        font-size: 70px;
    }
    .delevery__sall-boxImg {
        justify-content: space-around;
    }
    .delevery__sall-img {
        margin: 15px;
    }
    .header__bottom-box {
        top: 88%;
    }
    .header__wrapper {
        padding-bottom: 30px;
    }
    .header__caption:nth-child(1) {
        margin-top: 50px;
    }
    .header__icon-item:nth-child(3) {
        opacity: 0;
    }
    .delevery__text {
        max-width: 60%;
    }
    .guarantees__icon-box{
        left: 0px;
    }
    .section__caption{
        font-size: 28px;
        letter-spacing: 0px;
    }
}

@media only screen and (max-width: 700px) and (min-width: 481px) {
    .header__subtitle,
    .header__subtitle--two {
        text-align: center;
    }
    .header__buttons-box,
    .section__caption--black--one:after,
    .section__caption--black--one:before, 
    .footer__box:nth-child(2) {
        display: none;
    }
    .header {
        min-height: 550px;
    }
    .multi {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
    }
    .header__img {
        position: relative;
        margin: auto;
        width: 400px;
        top: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .delevery__sall-img{
        margin: 2%;
        width: 29%;
        height: 29%;
    }

}

@media only screen and (max-width: 650px) and (min-width: 481px) {
    .header__bottom--box {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
    }
    .header__phone-link {
        display: none;
    }
    .header__phone {
        font-size: 22px;
    }
    .sign__span {
        font-size: 14px;
    }
    .header__caption {
        font-size: 60px;
    }
    .bottom__main {
        margin: 15px 20px;
    }
    .header__knife-box {
        transform: scale(-1, 1);
        left: -50%;
    }
    .delevery__text{
        width: 100%;
        max-width: none;
    }
    .delevery__img{
        margin: auto;
    }

}
@media only screen and (max-width: 600px) and (min-width: 481px){
    .guarantees__subtitle{
        display: none;
    }
    .guarantees__caption{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 550px) and (min-width: 481px) {
    .header__caption {
        font-size: 52px;
    }
    .header__knife-box {
        transform: scale(-1, 1);
        left: -70%;
    }
    .section__form{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
    }
    .section__phone{
        margin-bottom: 30px;
    }
}