@media only screen and (max-width: 1200px) and (min-width: 993px) {
    body,
    .footer,
    .main,
    .header,
    .section,
    .navigation,
    .header__wrapper,
    .footer-wrapper,
    .main__wrapper,
    .header__text-box,
    .section__article {
        width: 100%;
        margin: auto;
    }
    .header__ab {
        font-size: 16px;
    }
    .header__ab:nth-child(1) {
        left: 20%;
        top: 100%;
        font-size: 24px;
    }
    .header__ab:nth-child(2) {
        left: 8%;
        top: 200px;
        font-size: 24px;
    }
    .header__ab:nth-child(3) {
        left: 2%;
        top: 500px;
        font-size: 24px;
    }
    .header__ab:nth-child(4) {
        left: 5%;
        top: 390px;
        font-size: 24px;
    }
    .header__text-box {
        position: absolute;
        left: -10px;
    }
    .header__ab:nth-child(5) {
        left: 65%;
        top: 420px;
        font-size: 24px;
    }
    .header__ab:nth-child(6) {
        left: 50%;
        top: 490px;
        font-size: 24px;
    }
    .header__ab:nth-child(7) {
        left: 70%;
        top: 220px;
        font-size: 24px;
    }
    .navigation {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .menu-toggle {
        right: 20px;
    }
    .section__wrapper {
        padding-left: 25px;
        padding-right: 25px;
    }
    .link__article {
        width: 31%;
        margin-left: 20px;
    }
    .footer__text {
        text-align: center;
        float: none;
    }
    .footer__list {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 993px) {
    .section__article {
        height: 210px;
    }
}