@media only screen and (max-width: 480px) and (min-width: 321px) {
    body,
    .footer,
    .main,
    .header,
    .section,
    .navigation,
    .header__wrapper,
    .footer-wrapper,
    .main__wrapper {
        width: 100%;
        margin: auto;
    }
    .header {
        height: 670px;
    }
    .header__caption {
        top: 280px;
    }
    .header__text-box {
        display: none;
    }
    .menu-toggle {
        right: 5%;
    }
    .section {
        display: table;
        clear: both;
    }
    .navigation {
        padding-left: 5%;
        box-sizing: border-box;
    }
    .section__wrapper {
        box-sizing: border-box;
    }
    .section__article,
    .link__article {
        width: 100%;
        height: 300px;
        margin-left: 0px!important;
        border-radius: 0px;
    }
    .article-name,
    .article-number {
        top: 80%;
        font-size: 22px;
    }
    .section__caption {
        padding-left: 20px;
    }
    .navigation__item:nth-child(1) {
        margin-top: 150px;
    }
    .footer__text {
        text-align: center;
        float: none;
    }
    .footer__list {
        width: 100%;
        text-align: center;
    }
    .footer__text {
        text-align: center;
        float: none;
        font-size: 16px;
    }
    .footer__list-link {
        font-size: 16px;
    }
    .footer__list-item {
        line-height: 3;
    }
    .footer__list {
        width: 100%;
        text-align: center;
    }
    .footer {
        height: 150px;
    }
    .footer-wrapper {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 400px) and (min-width: 321px) {
    .header__caption {
        font-size: 40px;
    }
    .section__article,
    .link__article {
        height: 250px;
    }
}