    .data-mob,
    .data-email {
        text-decoration: none;
        color: white;
        font-size: 28px;
        display: inline-block;
        position: relative;
        display: inline-block;
    }

    .data-link:hover {
        color: white;
        text-decoration: none;
    }

    .data-link:hover::before {
        opacity: 0;
    }

    .data-link::before {
        color: white;
        background: white;
        position: absolute;
        width: 100%;
        height: 1px;
        top: 30px;
        display: block;
        content: "";
        transition: 0.5s;
        opacity: 0.5;
    }


    .data-box {
        position: relative;
        top: 175px;
    }

    .data-box--section {
        position: relative;
        top: 35px;
    }

    .button__text--green {
        top: 80px;
    }

    .data-link--section {
        color: #252525;
    }

    .data-link--section:hover {
        color: #252525;
        text-decoration: none;
    }

    .data-link--section:hover::before {
        opacity: 0;
    }

    .data-link--section::before {
        color: #252525;
        background: #252525;
        position: absolute;
        width: 100%;
        height: 1px;
        top: 30px;
        display: block;
        content: "";
        transition: 0.5s;
        opacity: 0.5;
    }

    @media only screen and (max-width: 1550px) and (min-width: 950px) {
        .section__caption--three {
            width: 60%;
        }
        .section--three__text {
            width: 50%;
        }
        .section--three {
            height: 650px;
            background-position: 100% 100%;
        }
    }

    @media only screen and (max-width: 950px) and (min-width: 769px) {
        .header-wrapper,
        .section-wrapper,
        .footer-wrapper,
        .header__navigation {
            width: 90%;
        }
        .header__caption,
        .section__caption--two,
        .section__caption--one,
        .section__caption--for {
            font-size: 36px;
            text-align: center;
            width: 100%;
        }
        .header__list,
        .slider,
        .section__for--link {
            display: none;
        }
        .header__caption,
        .section--one__text,
        .section__caption--one,
        .section__caption--three,
        .section--three__text,
        .header__text {
            text-align: center;
            width: 100%;
        }
        .header__link,
        .section__link {
            margin: auto;
        }
        .section--three {
            height: 1050px;
            background-position: bottom center;
        }
        .menu-toggle,
        .navigation--box,
        .icon--doc,
        .section__link--for,
        .section--for__text {
            display: block;
        }
        .button__text {
            top: 220px;
            text-align: center;
        }
        .button__text--green {
            top: 80px;
        }
        .data-box {
            text-align: center;
        }
    }

    @media only screen and (max-width: 768px) and (min-width: 481px) {
        .section--three {
            height: 1050px;
            background-position: bottom center;
        }
        .data-box {
            text-align: center;
        }
    }

    @media only screen and (max-width: 580px) and (min-width: 481px) {
        .section__caption--three {
            font-size: 36px;
        }

        .section--three {
            height: 1150px;
            background-position: bottom center;
        }
    }

    @media only screen and (max-width: 480px) and (min-width: 321px) {
        .section--three {
            height: 1000px;
            background-position: bottom center;
        }
        .section__caption--three {
            font-size: 26px;
        }
        .data-box {
            text-align: center;
        }
    }

    @media only screen and (max-width: 320px) {
        .section--three {
            height: 750px;
            background-position: bottom center;
        }
        .data-box {
            top: 210PX;
            text-align: center;
        }
        .data-link--section {
            top: -175px;
        }
    }