@media only screen and (max-width: 1360px) and (min-width: 993px){

.header-wrapper,
.section-wrapper,
.footer-wrapper{
	width: 90%;
}
.section--three{
	    background-position: 100% 100%;
}
.section--two__article{
	width: 15%;
}
}

@media only screen and (max-width: 1150px) and (min-width: 993px){
	.section--two{
		height: 650px;
	}

}

@media only screen and (max-width: 1120px) and (min-width: 993px){
	.section--two{
		height: 1000px;
	}
	.section--two__article{
		width: 42%;
		height: 200px;
	}
	.section-wrapper--two{

	}
	.article--wrapper--two{
		margin: auto;
		width: 60%;
		clear: both;
	}
	.section--two__article:nth-child(2n){
		margin-right: 0px;
		float: right;
	}
	.section--two__article:nth-child(5){
		float: none;
		text-align: center;
		margin: auto;
	}
	.section__caption--two{
		text-align: center;
		width: 100%;
	}


}

@media only screen and (max-width: 992px) and (min-width: 769px){


}

@media only screen and (max-width: 768px) and (min-width: 481px){

}


@media only screen and (max-width: 480px) and (min-width: 321px){


}

@media only screen and (max-width: 320px){


}