@media only screen and (max-width: 768px) and (min-width: 481px) {
.segmenter, html{
	min-width: 100%;
	width: 100%;
}
.wrap{
	width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}
.reviews .review{
	width: 100%;
    margin: auto;
    margin-bottom: 20px;
}
.top__menu{
	display: none;
}
.box--logo{
	left: 50%;
    margin-left: -150px;
}
#ymaps1508914223937195672{
	display: none;
}
.map{
	height: 500px;
}
.mark, .map{
	display: none;
}
.sites{
	height: 1280px;
}
.sites .icons, footer .btn{
	display: none;
}
.section--site--caption{
	font-size: 28px;
}
}