@media only screen and (max-width: 768px) and (min-width: 481px) {
    .segmenter,
    html {
        min-width: 100%;
        width: 100%;
    }
    .wrap,
    .ytp-box-two {
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .reviews .review {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    .top__menu {
        display: none;
    }
    .box--logo {
        left: 50%;
        margin-left: -150px;
    }
    .layer .text {
        background-image: none;
    }
    #ymaps1508914223937195672 {
        display: none;
    }
    .map {
        height: 500px;
    }
    .mark,
    .map {
        display: none;
    }
    .sites {
        height: auto;
        padding-bottom: 40px;
    }
    .sites .icons,
    footer .btn,
    .settings .laurels,
    .clients,
    .boolets,
    .email--box,
    footer .rekviz,
    .header--box, .tire{
        display: none;
    }
    .section--site--caption {
        font-size: 28px;
    }
    .slide__img {
        margin: 0;
    }
    .slideshow {
        margin-top: 150px;
        width: 100%;
    }
    .sites .slideshow h2 {
        margin-top: 150px;
    }
    .settings .boolets li {
        width: 25%;
    }
    .layer .text,
    .layer form,
    .sites .btn {
        width: 90%;
    }
    .layer .text b {
        font-size: 18px;
    }
    .layer,
    .faq,
    .settings {
        height: auto;
        padding-bottom: 50px;
    }
    .orderSubmit {
        margin-top: 20px;
    }
    #checkboxmodal1 {
        opacity: 0;
    }
    .faq h2.question {
        font-size: 16px;
        letter-spacing: 0px;
        text-transform: none;
        border-bottom: none;
    }
    .faq .containe {
        height: auto;
        padding-bottom: 20px;
    }
    .reasons .slider p {
        font-size: 14px;
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .reasons .slider h2 {
        font-size: 18px;
    }
    .boolets--mobil {
        display: block;
    }
    .brenging-box--image {
        background-position: -1200% 0%, 550% 70%;
    	background-size: 94%, 90%;
    }
    .animation-box--item {
        margin-left: 5%;
    }
    .ytp-box--wrapper,
    .animation-box--wrapper {
        width: 90%;
    }
    .ytp-box--item--text {
        font-size: 14px;
    }
    .brending-box--wrapper {
        left: auto;
        margin: auto;
        text-align: center;
        width: 90%;
    }
    .brending-box--caption,
    .brending-box--text,
    .brending-box--item:nth-child(1),
    .brending-box--item,
    .brending-box--button {
        width: 100%;
        text-align: center;
    }
    .header-caption{
    	font-size: 30px;
    }
    .header--logo{
    	width: 50%;
    }
}

@media only screen and (max-width: 700px) and (min-width: 481px) {
    .animation-box--item,
    .animation-box--item:nth-child(3) {
        margin-left: 0px;
        width: 100%;
        margin-bottom: 35px;
    }
    .item--image {
        width: 200px;
        margin: auto;
    }
    .ytp-box--item--image {
        width: 30%;
    }
    .ytp-box--item {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .ytp-box--item--text {
        font-size: 18px;
    }
        .layer .text{
        background-image: none;
    }
}

@media only screen and (max-width: 600px) and (min-width: 481px) {
    .decstop--box--wrapper {
        position: relative;
        left: -70px;
    }
    header .adress p{
    	display: none;
    }
    .header--logo{
    	margin-top: 20%;
    }
}