@media only screen and (max-width: 992px) and (min-width: 769px) {
.segmenter, html{
	min-width: 100%;
	width: 100%;
}
.wrap{
	width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}
.reviews .review{
	width: 30%;
}
.top__menu{
	display: none;
}
.box--logo{
	left: 50%;
    margin-left: -150px;
}
#ymaps1508914223937195672{
	display: none;
}
.map{
	height: 500px;
}
.mark, .map, .email--box{
	display: none;
}
.sites{
	height: auto;
    padding-bottom: 30px;
}
.section--site--caption{
	font-size: 22px;
}
.sites .icons, footer .btn, footer .rekviz{
	display: none;
}
.sites h2 b{
	font-size: 14px;
}
}