@media only screen and (max-width: 1200px) and (min-width: 993px) {
    .main__wrapper {
        width: 83%
    }
    .link__blog {
        width: 45%
    }
}

@media only screen and (max-width: 1100px) and (min-width: 993px) {
    .section__name {
        top: 150px;
    }
    .link__blog {
        height: 240px;
    }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
    body,
    .footer,
    .main,
    .header,
    .section,
    .navigation,
    .header__wrapper,
    .footer-wrapper,
    .main__wrapper,
    .header__text-box {
        width: 100%;
        margin: auto;
    }
    .header__caption {
        top: 280px;
    }
    .main {
        padding-left: 2%;
        box-sizing: border-box;
    }
    .link__blog {
        width: 46%;
    }
    .link__blog:nth-child(1),
    .link__blog:nth-child(3),
    .link__blog:nth-child(5) {
        margin-right: 6%;
    }
}

@media only screen and (max-width: 900px) and (min-width: 769px) {
    .link__blog {
        height: 240px;
    }
    .section__name {
        top: 150px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    .main {
        box-sizing: border-box;
        padding-left: 23%;
    }
    .link__blog {
        width: 70%;
    }

}
@media only screen and (max-width: 650px) and (min-width: 481px) {
    .section__name {
        top: 140px;
    }
    .link__blog {
        height: 230px;
    }

}

@media only screen and (max-width: 480px) and (min-width: 321px) {
    .link__blog {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .section__name {
        top: 140px;
    }
.link__blog {
        width: 100%;
        height: 220px;
    }
}