@font-face {font-family: Proxima_Nova_Thin;
 src: url(../fonts/Proxima_Nova_Thin.otf);
}
@font-face {font-family: Proxima_Nova_Regular;
 src: url(../fonts/Proxima_Nova_Regular.otf);
}
@font-face {font-family: Proxima_Nova_Semibold;
 src: url(../fonts/Proxima_Nova_Semibold.otf);
}
@font-face {font-family: Proxima_Nova_Extrabold;
 src: url(../fonts/Proxima_Nova_Extrabold.otf);
}
@font-face {font-family: Proxima_Nova_Light;
 src: url(../fonts/Proxima_Nova_Light.otf);
}